<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_ed51a1a33df74d2aa0860c56f33ad772 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_ed51a1a33df74d2aa0860c56f33ad772" ></div>
        
</body>
<script>    
    
            var map_ed51a1a33df74d2aa0860c56f33ad772 = L.map(
                "map_ed51a1a33df74d2aa0860c56f33ad772",
                {
                    center: [47.083333, 2.4],
                    crs: L.CRS.EPSG3857,
                    maxBounds: [[-90, -180], [90, 180]],
                    zoom: 6,
                    zoomControl: false,
                    preferCanvas: false,
                    noWrap: true,
                }
            );

            

        
    
            var tile_layer_1b9ae3b0df1a43439bbb0b9133eb804d = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 2, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_ed51a1a33df74d2aa0860c56f33ad772);
        
    
            var marker_88811c16a0434d2d8a5c7c0c2cf5ec48 = L.marker(
                [44.9680346, 4.2579743],
                {}
            ).addTo(map_ed51a1a33df74d2aa0860c56f33ad772);
        
    
            var icon_1d1aeeaf5168496ca738d67abb869fa4 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_88811c16a0434d2d8a5c7c0c2cf5ec48.setIcon(icon_1d1aeeaf5168496ca738d67abb869fa4);
        
    
        var popup_adc35977b5ce406f802c21af7cf907f7 = L.popup({"maxWidth": "100%"});

        
            var html_d5d5c0eb90284bc89225a06a63c67f78 = $(`<div id="html_d5d5c0eb90284bc89225a06a63c67f78" style="width: 100.0%; height: 100.0%;">TOTAL - PAU ::  PAU CEDEX</div>`)[0];
            popup_adc35977b5ce406f802c21af7cf907f7.setContent(html_d5d5c0eb90284bc89225a06a63c67f78);
        

        marker_88811c16a0434d2d8a5c7c0c2cf5ec48.bindPopup(popup_adc35977b5ce406f802c21af7cf907f7)
        ;

        
    
    
            var marker_afaeb3ed8a324c12b6c6576cf40ba3ff = L.marker(
                [48.8953328, 2.2561602],
                {}
            ).addTo(map_ed51a1a33df74d2aa0860c56f33ad772);
        
    
            var icon_c6a02ce28e404c30a195545c2c9f0c64 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_afaeb3ed8a324c12b6c6576cf40ba3ff.setIcon(icon_c6a02ce28e404c30a195545c2c9f0c64);
        
    
        var popup_5997fb83a5ed461b8ae9602c41468b4e = L.popup({"maxWidth": "100%"});

        
            var html_c23c116a5380458fb58d0cb6ad849c0c = $(`<div id="html_c23c116a5380458fb58d0cb6ad849c0c" style="width: 100.0%; height: 100.0%;">CGI - COURBEVOIE ::  COURBEVOIE</div>`)[0];
            popup_5997fb83a5ed461b8ae9602c41468b4e.setContent(html_c23c116a5380458fb58d0cb6ad849c0c);
        

        marker_afaeb3ed8a324c12b6c6576cf40ba3ff.bindPopup(popup_5997fb83a5ed461b8ae9602c41468b4e)
        ;

        
    
    
            var marker_c6e410679cd542d08a2094c2234d78cf = L.marker(
                [48.83717055, 2.247373524],
                {}
            ).addTo(map_ed51a1a33df74d2aa0860c56f33ad772);
        
    
            var icon_98ad17f7e20347be97a7e8bab7f4cd99 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_c6e410679cd542d08a2094c2234d78cf.setIcon(icon_98ad17f7e20347be97a7e8bab7f4cd99);
        
    
        var popup_2b10e03b3f9549f8832573cb9912c613 = L.popup({"maxWidth": "100%"});

        
            var html_bcb54a8763294ecba54fd21e6bf0dbbd = $(`<div id="html_bcb54a8763294ecba54fd21e6bf0dbbd" style="width: 100.0%; height: 100.0%;">AUBAY ::  BOULOGNE BILLANCOURT</div>`)[0];
            popup_2b10e03b3f9549f8832573cb9912c613.setContent(html_bcb54a8763294ecba54fd21e6bf0dbbd);
        

        marker_c6e410679cd542d08a2094c2234d78cf.bindPopup(popup_2b10e03b3f9549f8832573cb9912c613)
        ;

        
    
    
            var marker_cdeb22df7b724b8fb0ae169c3d2eb63c = L.marker(
                [49.0527528, 2.0388736],
                {}
            ).addTo(map_ed51a1a33df74d2aa0860c56f33ad772);
        
    
            var icon_5618721fafc147cb8db551b370412b5a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_cdeb22df7b724b8fb0ae169c3d2eb63c.setIcon(icon_5618721fafc147cb8db551b370412b5a);
        
    
        var popup_2dd5c0c599fa4871a180052b0d7f7447 = L.popup({"maxWidth": "100%"});

        
            var html_185b1743804b46ac93906770ae93ae0c = $(`<div id="html_185b1743804b46ac93906770ae93ae0c" style="width: 100.0%; height: 100.0%;">VAL'EISTI ::  CERGY CEDEX</div>`)[0];
            popup_2dd5c0c599fa4871a180052b0d7f7447.setContent(html_185b1743804b46ac93906770ae93ae0c);
        

        marker_cdeb22df7b724b8fb0ae169c3d2eb63c.bindPopup(popup_2dd5c0c599fa4871a180052b0d7f7447)
        ;

        
    
    
            var marker_578f7da148a94661a113ea2342f568e2 = L.marker(
                [54.84613435, 83.09421284],
                {}
            ).addTo(map_ed51a1a33df74d2aa0860c56f33ad772);
        
    
            var icon_26c1929b69c64ebca4a443e983db56e1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_578f7da148a94661a113ea2342f568e2.setIcon(icon_26c1929b69c64ebca4a443e983db56e1);
        
    
        var popup_8f6fdbed1a324001a44d99cefbb01c43 = L.popup({"maxWidth": "100%"});

        
            var html_7f3ab0292c4443c3928bb6526a8b763e = $(`<div id="html_7f3ab0292c4443c3928bb6526a8b763e" style="width: 100.0%; height: 100.0%;">NOVOSIBIRSK STATE UNIVERSITY ::  NOVOSIBIRSK</div>`)[0];
            popup_8f6fdbed1a324001a44d99cefbb01c43.setContent(html_7f3ab0292c4443c3928bb6526a8b763e);
        

        marker_578f7da148a94661a113ea2342f568e2.bindPopup(popup_8f6fdbed1a324001a44d99cefbb01c43)
        ;

        
    
    
            var marker_75ae37544b5c40a5a205bf9601d810b6 = L.marker(
                [48.502139299999996, -2.7374169999999998],
                {}
            ).addTo(map_ed51a1a33df74d2aa0860c56f33ad772);
        
    
            var icon_bdf540a865614f0ea71c45b725f7186b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_75ae37544b5c40a5a205bf9601d810b6.setIcon(icon_bdf540a865614f0ea71c45b725f7186b);
        
    
        var popup_f2b7b5c7f17a4581b9ca341c910b37b6 = L.popup({"maxWidth": "100%"});

        
            var html_b25b03e93a1141aabed022d273c532d8 = $(`<div id="html_b25b03e93a1141aabed022d273c532d8" style="width: 100.0%; height: 100.0%;">SOCIETE GENERALE ::  PARIS CEDEX 18</div>`)[0];
            popup_f2b7b5c7f17a4581b9ca341c910b37b6.setContent(html_b25b03e93a1141aabed022d273c532d8);
        

        marker_75ae37544b5c40a5a205bf9601d810b6.bindPopup(popup_f2b7b5c7f17a4581b9ca341c910b37b6)
        ;

        
    
    
            var marker_7406b489b13e4a57812b6b935b5152bc = L.marker(
                [34.73297625, 135.4562325],
                {}
            ).addTo(map_ed51a1a33df74d2aa0860c56f33ad772);
        
    
            var icon_dee1ecda4b034eadafbda1c31895d9aa = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_7406b489b13e4a57812b6b935b5152bc.setIcon(icon_dee1ecda4b034eadafbda1c31895d9aa);
        
    
        var popup_30b3e0d42964465f8867a569ee984cbf = L.popup({"maxWidth": "100%"});

        
            var html_bee433c74ba54a548e42586db94a1de2 = $(`<div id="html_bee433c74ba54a548e42586db94a1de2" style="width: 100.0%; height: 100.0%;">OSAKA PREFECTURE UNIVERSITY ::  OSAKA</div>`)[0];
            popup_30b3e0d42964465f8867a569ee984cbf.setContent(html_bee433c74ba54a548e42586db94a1de2);
        

        marker_7406b489b13e4a57812b6b935b5152bc.bindPopup(popup_30b3e0d42964465f8867a569ee984cbf)
        ;

        
    
    
            var marker_e5d884c6586c45a3989d95182228fefd = L.marker(
                [48.502139299999996, -2.7374169999999998],
                {}
            ).addTo(map_ed51a1a33df74d2aa0860c56f33ad772);
        
    
            var icon_5e481e5f66f44450930a2e4d89758c95 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_e5d884c6586c45a3989d95182228fefd.setIcon(icon_5e481e5f66f44450930a2e4d89758c95);
        
    
        var popup_9357994a78d3447fbea0a7b9f6ac269b = L.popup({"maxWidth": "100%"});

        
            var html_a2837dc200464a8c8251c9c25166ccce = $(`<div id="html_a2837dc200464a8c8251c9c25166ccce" style="width: 100.0%; height: 100.0%;">SOCIETE GENERALE - PARIS 18 ::  PARIS CEDEX 18</div>`)[0];
            popup_9357994a78d3447fbea0a7b9f6ac269b.setContent(html_a2837dc200464a8c8251c9c25166ccce);
        

        marker_e5d884c6586c45a3989d95182228fefd.bindPopup(popup_9357994a78d3447fbea0a7b9f6ac269b)
        ;

        
    
    
            var marker_8a35acd83e1f4f48950e5bcf787af818 = L.marker(
                [48.78094960000001, 2.1900052000000003],
                {}
            ).addTo(map_ed51a1a33df74d2aa0860c56f33ad772);
        
    
            var icon_1050c37d5e1e45619a6bfef5a4b2e483 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_8a35acd83e1f4f48950e5bcf787af818.setIcon(icon_1050c37d5e1e45619a6bfef5a4b2e483);
        
    
        var popup_f6d7a89ab2fe4248a8c54a3e62d539d6 = L.popup({"maxWidth": "100%"});

        
            var html_12267d5b5f5644b7b861cb8183f34563 = $(`<div id="html_12267d5b5f5644b7b861cb8183f34563" style="width: 100.0%; height: 100.0%;">DASSAULT SYSTEMES ::  VELIZY VILLACOUBLAY CEDEX</div>`)[0];
            popup_f6d7a89ab2fe4248a8c54a3e62d539d6.setContent(html_12267d5b5f5644b7b861cb8183f34563);
        

        marker_8a35acd83e1f4f48950e5bcf787af818.bindPopup(popup_f6d7a89ab2fe4248a8c54a3e62d539d6)
        ;

        
    
    
            var marker_11c11494d1224887b1de823e878ff038 = L.marker(
                [48.856610100000005, 2.3514992],
                {}
            ).addTo(map_ed51a1a33df74d2aa0860c56f33ad772);
        
    
            var icon_6d9fc689601b476380e10bb64aa093a3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_11c11494d1224887b1de823e878ff038.setIcon(icon_6d9fc689601b476380e10bb64aa093a3);
        
    
        var popup_b2d02c7de97440c7a440728cd9fea286 = L.popup({"maxWidth": "100%"});

        
            var html_56de2d99db3b4d5eb4b3499a097db733 = $(`<div id="html_56de2d99db3b4d5eb4b3499a097db733" style="width: 100.0%; height: 100.0%;">TALAN SOLUTIONS ::  PARIS</div>`)[0];
            popup_b2d02c7de97440c7a440728cd9fea286.setContent(html_56de2d99db3b4d5eb4b3499a097db733);
        

        marker_11c11494d1224887b1de823e878ff038.bindPopup(popup_b2d02c7de97440c7a440728cd9fea286)
        ;

        
    
    
            var marker_b7ff31f02250431694adfff1fbf527ad = L.marker(
                [48.856610100000005, 2.3514992],
                {}
            ).addTo(map_ed51a1a33df74d2aa0860c56f33ad772);
        
    
            var icon_ce54c53738fe4d4a9287eb872596999a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_b7ff31f02250431694adfff1fbf527ad.setIcon(icon_ce54c53738fe4d4a9287eb872596999a);
        
    
        var popup_364c73a15c4641eba61895495612ca72 = L.popup({"maxWidth": "100%"});

        
            var html_67260e01517448a4b5053e77f0b76262 = $(`<div id="html_67260e01517448a4b5053e77f0b76262" style="width: 100.0%; height: 100.0%;">SOPRA GROUP - LA DEFENSE ::  PARIS LA DEFENSE 12 CEDEX</div>`)[0];
            popup_364c73a15c4641eba61895495612ca72.setContent(html_67260e01517448a4b5053e77f0b76262);
        

        marker_b7ff31f02250431694adfff1fbf527ad.bindPopup(popup_364c73a15c4641eba61895495612ca72)
        ;

        
    
    
            var marker_5d87e263c29d45b5ad376d37bcc802bd = L.marker(
                [48.85881005, 2.320031012],
                {}
            ).addTo(map_ed51a1a33df74d2aa0860c56f33ad772);
        
    
            var icon_d45fde2ab593493abda767ad85c23a10 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_5d87e263c29d45b5ad376d37bcc802bd.setIcon(icon_d45fde2ab593493abda767ad85c23a10);
        
    
        var popup_149f3f8e3fa44917b2fd6242ecb1aed4 = L.popup({"maxWidth": "100%"});

        
            var html_13a432197c774cda8559af5e08c9a698 = $(`<div id="html_13a432197c774cda8559af5e08c9a698" style="width: 100.0%; height: 100.0%;">WAVESTONE ::  PARIS LA DEFENSE</div>`)[0];
            popup_149f3f8e3fa44917b2fd6242ecb1aed4.setContent(html_13a432197c774cda8559af5e08c9a698);
        

        marker_5d87e263c29d45b5ad376d37bcc802bd.bindPopup(popup_149f3f8e3fa44917b2fd6242ecb1aed4)
        ;

        
    
    
            var marker_3be5274f96e44432acfc6efad6ce55ca = L.marker(
                [43.6044622, 1.4442469],
                {}
            ).addTo(map_ed51a1a33df74d2aa0860c56f33ad772);
        
    
            var icon_b87733847abf47cf82829acaa97829d0 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_3be5274f96e44432acfc6efad6ce55ca.setIcon(icon_b87733847abf47cf82829acaa97829d0);
        
    
        var popup_aee83c174f1547298c109893803f37ad = L.popup({"maxWidth": "100%"});

        
            var html_bcf56fd430f84fada9d6bfc1ea65112a = $(`<div id="html_bcf56fd430f84fada9d6bfc1ea65112a" style="width: 100.0%; height: 100.0%;">CAPGEMINI TECHNOLOGY SERVICES - TOULOUSE ::  TOULOUSE CEDEX 1</div>`)[0];
            popup_aee83c174f1547298c109893803f37ad.setContent(html_bcf56fd430f84fada9d6bfc1ea65112a);
        

        marker_3be5274f96e44432acfc6efad6ce55ca.bindPopup(popup_aee83c174f1547298c109893803f37ad)
        ;

        
    
    
            var marker_ba877d328192411a8458c32eaddb3bd0 = L.marker(
                [48.8710147, 2.2252883],
                {}
            ).addTo(map_ed51a1a33df74d2aa0860c56f33ad772);
        
    
            var icon_c0ebf2b77a6b497a873dccab8c5b0b3e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_ba877d328192411a8458c32eaddb3bd0.setIcon(icon_c0ebf2b77a6b497a873dccab8c5b0b3e);
        
    
        var popup_7cfaf43dbd2740a2ae2554e4a9ad2e35 = L.popup({"maxWidth": "100%"});

        
            var html_1572a2e597c64ea09787f4fa61f1fa1b = $(`<div id="html_1572a2e597c64ea09787f4fa61f1fa1b" style="width: 100.0%; height: 100.0%;">CAPGEMINI TECHNOLOGY SERVICES - SURESNES ::  SURESNES CEDEX</div>`)[0];
            popup_7cfaf43dbd2740a2ae2554e4a9ad2e35.setContent(html_1572a2e597c64ea09787f4fa61f1fa1b);
        

        marker_ba877d328192411a8458c32eaddb3bd0.bindPopup(popup_7cfaf43dbd2740a2ae2554e4a9ad2e35)
        ;

        
    
    
            var marker_21f28c60c7d74826ac7a84db6ab333f3 = L.marker(
                [48.8873911, 7.680852499999999],
                {}
            ).addTo(map_ed51a1a33df74d2aa0860c56f33ad772);
        
    
            var icon_d6a07fb91d4b4e03b08bc672d7048937 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_21f28c60c7d74826ac7a84db6ab333f3.setIcon(icon_d6a07fb91d4b4e03b08bc672d7048937);
        
    
        var popup_69a82d4ff1134484896490c2594734a2 = L.popup({"maxWidth": "100%"});

        
            var html_591d8e1ae7f0444298d5b2328b2655d6 = $(`<div id="html_591d8e1ae7f0444298d5b2328b2655d6" style="width: 100.0%; height: 100.0%;">HSBC - PARIS ::  PARIS CEDEX 8</div>`)[0];
            popup_69a82d4ff1134484896490c2594734a2.setContent(html_591d8e1ae7f0444298d5b2328b2655d6);
        

        marker_21f28c60c7d74826ac7a84db6ab333f3.bindPopup(popup_69a82d4ff1134484896490c2594734a2)
        ;

        
    
    
            var marker_2e04c030651b4f3c8b6f41d00be6e9d5 = L.marker(
                [48.8953328, 2.2561602],
                {}
            ).addTo(map_ed51a1a33df74d2aa0860c56f33ad772);
        
    
            var icon_9057744d56aa48eb8a5717cbde29ec91 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_2e04c030651b4f3c8b6f41d00be6e9d5.setIcon(icon_9057744d56aa48eb8a5717cbde29ec91);
        
    
        var popup_2bb657576cf44a2e89c4a74c66355ea6 = L.popup({"maxWidth": "100%"});

        
            var html_d268af1eb90549b49df1e683f0bcb3d4 = $(`<div id="html_d268af1eb90549b49df1e683f0bcb3d4" style="width: 100.0%; height: 100.0%;">SOPRA STERIA - COURBEVOIE ::  COURBEVOIE</div>`)[0];
            popup_2bb657576cf44a2e89c4a74c66355ea6.setContent(html_d268af1eb90549b49df1e683f0bcb3d4);
        

        marker_2e04c030651b4f3c8b6f41d00be6e9d5.bindPopup(popup_2bb657576cf44a2e89c4a74c66355ea6)
        ;

        
    
    
            var marker_a34b58948fca438d95281b6d5497784b = L.marker(
                [48.856610100000005, 2.3514992],
                {}
            ).addTo(map_ed51a1a33df74d2aa0860c56f33ad772);
        
    
            var icon_529634f7140341859278215e9d0fb900 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_a34b58948fca438d95281b6d5497784b.setIcon(icon_529634f7140341859278215e9d0fb900);
        
    
        var popup_509bce04a28040e8b92e3e18ace9cd84 = L.popup({"maxWidth": "100%"});

        
            var html_ea42376535c141c6a48a3e1f5ef92e57 = $(`<div id="html_ea42376535c141c6a48a3e1f5ef92e57" style="width: 100.0%; height: 100.0%;">SOLUTION BI ::  PARIS</div>`)[0];
            popup_509bce04a28040e8b92e3e18ace9cd84.setContent(html_ea42376535c141c6a48a3e1f5ef92e57);
        

        marker_a34b58948fca438d95281b6d5497784b.bindPopup(popup_509bce04a28040e8b92e3e18ace9cd84)
        ;

        
    
    
            var marker_6eb7121542cb447e8a90a997a260a01f = L.marker(
                [48.7997756, 2.2897124],
                {}
            ).addTo(map_ed51a1a33df74d2aa0860c56f33ad772);
        
    
            var icon_30d12ebe89b94123afca2d8fcd6d0c7a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_6eb7121542cb447e8a90a997a260a01f.setIcon(icon_30d12ebe89b94123afca2d8fcd6d0c7a);
        
    
        var popup_bbe29785f2b3492ca6263111b1406c4d = L.popup({"maxWidth": "100%"});

        
            var html_30c612b904d94803b4bf0ce901450332 = $(`<div id="html_30c612b904d94803b4bf0ce901450332" style="width: 100.0%; height: 100.0%;">AVANADE ::  CHATILLON</div>`)[0];
            popup_bbe29785f2b3492ca6263111b1406c4d.setContent(html_30c612b904d94803b4bf0ce901450332);
        

        marker_6eb7121542cb447e8a90a997a260a01f.bindPopup(popup_bbe29785f2b3492ca6263111b1406c4d)
        ;

        
    
    
            var marker_226137b21c6b45dd9cf3d00bc5e9fd3d = L.marker(
                [48.94790689999999, 2.2481797],
                {}
            ).addTo(map_ed51a1a33df74d2aa0860c56f33ad772);
        
    
            var icon_5538e9746df349a4babb4f6caa964047 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_226137b21c6b45dd9cf3d00bc5e9fd3d.setIcon(icon_5538e9746df349a4babb4f6caa964047);
        
    
        var popup_1e9b655599d343a19af2f7c038729790 = L.popup({"maxWidth": "100%"});

        
            var html_5165d6378345411b9f886e5afc2a4aed = $(`<div id="html_5165d6378345411b9f886e5afc2a4aed" style="width: 100.0%; height: 100.0%;">THALES COMMUNICATIONS - GENNEVILLIERS ::  ARGENTEUIL</div>`)[0];
            popup_1e9b655599d343a19af2f7c038729790.setContent(html_5165d6378345411b9f886e5afc2a4aed);
        

        marker_226137b21c6b45dd9cf3d00bc5e9fd3d.bindPopup(popup_1e9b655599d343a19af2f7c038729790)
        ;

        
    
    
            var marker_4d173237f46c4ba5bd1e1262a1ef5fa6 = L.marker(
                [44.805615, -0.6308396],
                {}
            ).addTo(map_ed51a1a33df74d2aa0860c56f33ad772);
        
    
            var icon_38ffcd6379b341969ca5524a3ce21113 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_4d173237f46c4ba5bd1e1262a1ef5fa6.setIcon(icon_38ffcd6379b341969ca5524a3ce21113);
        
    
        var popup_105985ee32b645abb3da7e50cbcc3885 = L.popup({"maxWidth": "100%"});

        
            var html_5eef6bfcc43f46638679b918464edce5 = $(`<div id="html_5eef6bfcc43f46638679b918464edce5" style="width: 100.0%; height: 100.0%;">ATOS - PESSAC ::  PESSAC</div>`)[0];
            popup_105985ee32b645abb3da7e50cbcc3885.setContent(html_5eef6bfcc43f46638679b918464edce5);
        

        marker_4d173237f46c4ba5bd1e1262a1ef5fa6.bindPopup(popup_105985ee32b645abb3da7e50cbcc3885)
        ;

        
    
    
            var marker_2ae4ef2e04964b4a886306e74e1c811f = L.marker(
                [49.0660487, 2.0614598],
                {}
            ).addTo(map_ed51a1a33df74d2aa0860c56f33ad772);
        
    
            var icon_45cb51c4b6bf4eef9c84544e363c011f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_2ae4ef2e04964b4a886306e74e1c811f.setIcon(icon_45cb51c4b6bf4eef9c84544e363c011f);
        
    
        var popup_e53cea7b7a7343c49743de69d8e187af = L.popup({"maxWidth": "100%"});

        
            var html_0da485b58f3f4ecea12e0b1b1f091a93 = $(`<div id="html_0da485b58f3f4ecea12e0b1b1f091a93" style="width: 100.0%; height: 100.0%;">SAFRAN IDENTITY AND SECURITY ::  OSNY</div>`)[0];
            popup_e53cea7b7a7343c49743de69d8e187af.setContent(html_0da485b58f3f4ecea12e0b1b1f091a93);
        

        marker_2ae4ef2e04964b4a886306e74e1c811f.bindPopup(popup_e53cea7b7a7343c49743de69d8e187af)
        ;

        
    
    
            var marker_7b14b5cda54c4f6eacc8adbc09cd12e1 = L.marker(
                [43.6044622, 1.4442469],
                {}
            ).addTo(map_ed51a1a33df74d2aa0860c56f33ad772);
        
    
            var icon_27162dc343e74c3aaefead16e6942341 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_7b14b5cda54c4f6eacc8adbc09cd12e1.setIcon(icon_27162dc343e74c3aaefead16e6942341);
        
    
        var popup_d982c02419de455fa6493540e77bb884 = L.popup({"maxWidth": "100%"});

        
            var html_49e54098cc9f44f6a000febeba6b036e = $(`<div id="html_49e54098cc9f44f6a000febeba6b036e" style="width: 100.0%; height: 100.0%;">VIVERIS - TOULOUSE ::  TOULOUSE</div>`)[0];
            popup_d982c02419de455fa6493540e77bb884.setContent(html_49e54098cc9f44f6a000febeba6b036e);
        

        marker_7b14b5cda54c4f6eacc8adbc09cd12e1.bindPopup(popup_d982c02419de455fa6493540e77bb884)
        ;

        
    
    
            var marker_3d8f5c4dece04775874a84e03b0c980d = L.marker(
                [48.856610100000005, 2.3514992],
                {}
            ).addTo(map_ed51a1a33df74d2aa0860c56f33ad772);
        
    
            var icon_df191d80d21d4c1490daa6b959571666 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_3d8f5c4dece04775874a84e03b0c980d.setIcon(icon_df191d80d21d4c1490daa6b959571666);
        
    
        var popup_3a819ac12fb4419dba0b714c91c4364f = L.popup({"maxWidth": "100%"});

        
            var html_8db99a3a05e14dd482b11f8444c72d7f = $(`<div id="html_8db99a3a05e14dd482b11f8444c72d7f" style="width: 100.0%; height: 100.0%;">NATIXIS ::  PARIS</div>`)[0];
            popup_3a819ac12fb4419dba0b714c91c4364f.setContent(html_8db99a3a05e14dd482b11f8444c72d7f);
        

        marker_3d8f5c4dece04775874a84e03b0c980d.bindPopup(popup_3a819ac12fb4419dba0b714c91c4364f)
        ;

        
    
    
            var marker_cfd2b7d8e22d4b30be06b3e90bf22255 = L.marker(
                [48.856610100000005, 2.3514992],
                {}
            ).addTo(map_ed51a1a33df74d2aa0860c56f33ad772);
        
    
            var icon_eb15af68bd184371a96b28ffe1773e1c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_cfd2b7d8e22d4b30be06b3e90bf22255.setIcon(icon_eb15af68bd184371a96b28ffe1773e1c);
        
    
        var popup_e9cb2c8afed447e38e28ddbec0ad3a8d = L.popup({"maxWidth": "100%"});

        
            var html_a9c50a69e6be4b7f8f1de8f1a09eeb4a = $(`<div id="html_a9c50a69e6be4b7f8f1de8f1a09eeb4a" style="width: 100.0%; height: 100.0%;">BNP PARIBAS ::  PARIS CEDEX 09</div>`)[0];
            popup_e9cb2c8afed447e38e28ddbec0ad3a8d.setContent(html_a9c50a69e6be4b7f8f1de8f1a09eeb4a);
        

        marker_cfd2b7d8e22d4b30be06b3e90bf22255.bindPopup(popup_e9cb2c8afed447e38e28ddbec0ad3a8d)
        ;

        
    
    
            var marker_8f712bb75943473ead66c92635ae749d = L.marker(
                [48.886069799999994, 2.224118411],
                {}
            ).addTo(map_ed51a1a33df74d2aa0860c56f33ad772);
        
    
            var icon_ae76245e6efb4e768dbd3f10471a9399 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_8f712bb75943473ead66c92635ae749d.setIcon(icon_ae76245e6efb4e768dbd3f10471a9399);
        
    
        var popup_9c13ee2ed722469f97968b407b092f61 = L.popup({"maxWidth": "100%"});

        
            var html_ff1b378e90914aa2af9b64e071abc2ae = $(`<div id="html_ff1b378e90914aa2af9b64e071abc2ae" style="width: 100.0%; height: 100.0%;">MICROPOLE LEVALLOIS 3 ::  NANTERRE</div>`)[0];
            popup_9c13ee2ed722469f97968b407b092f61.setContent(html_ff1b378e90914aa2af9b64e071abc2ae);
        

        marker_8f712bb75943473ead66c92635ae749d.bindPopup(popup_9c13ee2ed722469f97968b407b092f61)
        ;

        
    
    
            var marker_062e3c2df8c94423b02563f6d4982549 = L.marker(
                [45.398468900000005, 9.1476],
                {}
            ).addTo(map_ed51a1a33df74d2aa0860c56f33ad772);
        
    
            var icon_36f513f2197e4f1297570923163a44ff = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_062e3c2df8c94423b02563f6d4982549.setIcon(icon_36f513f2197e4f1297570923163a44ff);
        
    
        var popup_9e2328c1ef9a441687c94e83faf3febd = L.popup({"maxWidth": "100%"});

        
            var html_ae59a3c118f54ec88c03ac4214ca3e8b = $(`<div id="html_ae59a3c118f54ec88c03ac4214ca3e8b" style="width: 100.0%; height: 100.0%;">SOPRA STERIA - LA DEFENSE ::  LA DEFENSE CEDEX</div>`)[0];
            popup_9e2328c1ef9a441687c94e83faf3febd.setContent(html_ae59a3c118f54ec88c03ac4214ca3e8b);
        

        marker_062e3c2df8c94423b02563f6d4982549.bindPopup(popup_9e2328c1ef9a441687c94e83faf3febd)
        ;

        
    
    
            var marker_a567c7ac4ea1421194edcd6524643841 = L.marker(
                [48.856610100000005, 2.3514992],
                {}
            ).addTo(map_ed51a1a33df74d2aa0860c56f33ad772);
        
    
            var icon_52f38bd162c24d7584ea244ae4270374 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_a567c7ac4ea1421194edcd6524643841.setIcon(icon_52f38bd162c24d7584ea244ae4270374);
        
    
        var popup_c456364abd9c4104a287ba5c97b8a2b0 = L.popup({"maxWidth": "100%"});

        
            var html_5271fda56e514c74a98e6fcdc45d242e = $(`<div id="html_5271fda56e514c74a98e6fcdc45d242e" style="width: 100.0%; height: 100.0%;">BANQUE DE FRANCE ::  PARIS</div>`)[0];
            popup_c456364abd9c4104a287ba5c97b8a2b0.setContent(html_5271fda56e514c74a98e6fcdc45d242e);
        

        marker_a567c7ac4ea1421194edcd6524643841.bindPopup(popup_c456364abd9c4104a287ba5c97b8a2b0)
        ;

        
    
    
            var marker_5c053577bdec431e9aa430620e2f587a = L.marker(
                [48.856610100000005, 2.3514992],
                {}
            ).addTo(map_ed51a1a33df74d2aa0860c56f33ad772);
        
    
            var icon_95b97fe2e0664bb6a9406627ef67c4fe = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_5c053577bdec431e9aa430620e2f587a.setIcon(icon_95b97fe2e0664bb6a9406627ef67c4fe);
        
    
        var popup_194c750e9570409fa7def1c04d9ddf11 = L.popup({"maxWidth": "100%"});

        
            var html_f2e075f4c0574c9497928a2592776aef = $(`<div id="html_f2e075f4c0574c9497928a2592776aef" style="width: 100.0%; height: 100.0%;">DXC TECHNOLOGY ::  PARIS LA DEFENSE CEDEX</div>`)[0];
            popup_194c750e9570409fa7def1c04d9ddf11.setContent(html_f2e075f4c0574c9497928a2592776aef);
        

        marker_5c053577bdec431e9aa430620e2f587a.bindPopup(popup_194c750e9570409fa7def1c04d9ddf11)
        ;

        
    
    
            var marker_0f7d4260f4704d99b721f7bfe9199b33 = L.marker(
                [48.856610100000005, 2.3514992],
                {}
            ).addTo(map_ed51a1a33df74d2aa0860c56f33ad772);
        
    
            var icon_c6c17c6a4d11453c84b9595f1aacbff1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_0f7d4260f4704d99b721f7bfe9199b33.setIcon(icon_c6c17c6a4d11453c84b9595f1aacbff1);
        
    
        var popup_e000abc77cdb4ce4b48d7255833acb6f = L.popup({"maxWidth": "100%"});

        
            var html_a3ec170ba700487d92ee7da2019dff66 = $(`<div id="html_a3ec170ba700487d92ee7da2019dff66" style="width: 100.0%; height: 100.0%;">BUSINESS & DECISION ::  PARIS</div>`)[0];
            popup_e000abc77cdb4ce4b48d7255833acb6f.setContent(html_a3ec170ba700487d92ee7da2019dff66);
        

        marker_0f7d4260f4704d99b721f7bfe9199b33.bindPopup(popup_e000abc77cdb4ce4b48d7255833acb6f)
        ;

        
    
    
            var marker_9a0e330a55b541788f6caed71f735ac9 = L.marker(
                [48.892956, 2.2881682999999997],
                {}
            ).addTo(map_ed51a1a33df74d2aa0860c56f33ad772);
        
    
            var icon_c8c9327033334085919da30b40cf5748 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_9a0e330a55b541788f6caed71f735ac9.setIcon(icon_c8c9327033334085919da30b40cf5748);
        
    
        var popup_1480322491b14b1db3808374447a030e = L.popup({"maxWidth": "100%"});

        
            var html_7d6447604513423fab50ad90ed75749f = $(`<div id="html_7d6447604513423fab50ad90ed75749f" style="width: 100.0%; height: 100.0%;">SAP FRANCE - LEVALLOIS ::  LEVALLOIS PERRET</div>`)[0];
            popup_1480322491b14b1db3808374447a030e.setContent(html_7d6447604513423fab50ad90ed75749f);
        

        marker_9a0e330a55b541788f6caed71f735ac9.bindPopup(popup_1480322491b14b1db3808374447a030e)
        ;

        
    
    
            var marker_e71c467a08a24ac3842d87537b118708 = L.marker(
                [43.2957547, -0.36856679999999997],
                {}
            ).addTo(map_ed51a1a33df74d2aa0860c56f33ad772);
        
    
            var icon_f318efc271ad4e4fb556a5cf4a37aef6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_e71c467a08a24ac3842d87537b118708.setIcon(icon_f318efc271ad4e4fb556a5cf4a37aef6);
        
    
        var popup_d1947ef913ce4106bf4ab46abe785b1f = L.popup({"maxWidth": "100%"});

        
            var html_3913f5d49b724c85a120004ad33bb221 = $(`<div id="html_3913f5d49b724c85a120004ad33bb221" style="width: 100.0%; height: 100.0%;">NEUROSOFT - ORTHALIS ::  PAU</div>`)[0];
            popup_d1947ef913ce4106bf4ab46abe785b1f.setContent(html_3913f5d49b724c85a120004ad33bb221);
        

        marker_e71c467a08a24ac3842d87537b118708.bindPopup(popup_d1947ef913ce4106bf4ab46abe785b1f)
        ;

        
    
    
            var marker_d5ca943a90054d469a9abfdfeaf769de = L.marker(
                [48.856610100000005, 2.3514992],
                {}
            ).addTo(map_ed51a1a33df74d2aa0860c56f33ad772);
        
    
            var icon_93cc73f8a3d74d649a98551342f50c6f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_d5ca943a90054d469a9abfdfeaf769de.setIcon(icon_93cc73f8a3d74d649a98551342f50c6f);
        
    
        var popup_bdab190d81fa44308fb8bd9ebe9842d2 = L.popup({"maxWidth": "100%"});

        
            var html_7db0a360683448de98472f9bdbe8e4bb = $(`<div id="html_7db0a360683448de98472f9bdbe8e4bb" style="width: 100.0%; height: 100.0%;">LA MUTUELLE GNRALE ::  PARIS CEDEX 13</div>`)[0];
            popup_bdab190d81fa44308fb8bd9ebe9842d2.setContent(html_7db0a360683448de98472f9bdbe8e4bb);
        

        marker_d5ca943a90054d469a9abfdfeaf769de.bindPopup(popup_bdab190d81fa44308fb8bd9ebe9842d2)
        ;

        
    
    
            var marker_6344f6a1b18d42bd9e13020c5b7832f6 = L.marker(
                [45.1893794, 4.1163969],
                {}
            ).addTo(map_ed51a1a33df74d2aa0860c56f33ad772);
        
    
            var icon_24553e512af34d11b8f181641137da83 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_6344f6a1b18d42bd9e13020c5b7832f6.setIcon(icon_24553e512af34d11b8f181641137da83);
        
    
        var popup_186dc326daf64d4884d43c21c2afc0c6 = L.popup({"maxWidth": "100%"});

        
            var html_a94cbc0b14244f52822540e5a1801cca = $(`<div id="html_a94cbc0b14244f52822540e5a1801cca" style="width: 100.0%; height: 100.0%;">TURBOMECA - BORDES ::  BORDES CEDEX</div>`)[0];
            popup_186dc326daf64d4884d43c21c2afc0c6.setContent(html_a94cbc0b14244f52822540e5a1801cca);
        

        marker_6344f6a1b18d42bd9e13020c5b7832f6.bindPopup(popup_186dc326daf64d4884d43c21c2afc0c6)
        ;

        
    
    
            var marker_9ca8c795006b4b6e84007b6267df2be0 = L.marker(
                [43.6044622, 1.4442469],
                {}
            ).addTo(map_ed51a1a33df74d2aa0860c56f33ad772);
        
    
            var icon_4b299f111b4249a2873b2545b9c0bf45 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_9ca8c795006b4b6e84007b6267df2be0.setIcon(icon_4b299f111b4249a2873b2545b9c0bf45);
        
    
        var popup_87c2a6f19b1248a88a149652aca18a0c = L.popup({"maxWidth": "100%"});

        
            var html_568f1672badf465389cb64fd14593456 = $(`<div id="html_568f1672badf465389cb64fd14593456" style="width: 100.0%; height: 100.0%;">CGI - TOULOUSE ::  TOULOUSE</div>`)[0];
            popup_87c2a6f19b1248a88a149652aca18a0c.setContent(html_568f1672badf465389cb64fd14593456);
        

        marker_9ca8c795006b4b6e84007b6267df2be0.bindPopup(popup_87c2a6f19b1248a88a149652aca18a0c)
        ;

        
    
    
            var marker_6caf87a92df048d6adbbad335313b54f = L.marker(
                [48.856610100000005, 2.3514992],
                {}
            ).addTo(map_ed51a1a33df74d2aa0860c56f33ad772);
        
    
            var icon_e0cd4196a6be4a6fbaa756c52eaa45fd = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_6caf87a92df048d6adbbad335313b54f.setIcon(icon_e0cd4196a6be4a6fbaa756c52eaa45fd);
        
    
        var popup_943989b6489b401c885436db34041c2e = L.popup({"maxWidth": "100%"});

        
            var html_e92f9424c54340b7b460e1b6b6be741a = $(`<div id="html_e92f9424c54340b7b460e1b6b6be741a" style="width: 100.0%; height: 100.0%;">MIF: LA MUTUELLE D'IVRY (LA FRATERNELLE) ::  PARIS</div>`)[0];
            popup_943989b6489b401c885436db34041c2e.setContent(html_e92f9424c54340b7b460e1b6b6be741a);
        

        marker_6caf87a92df048d6adbbad335313b54f.bindPopup(popup_943989b6489b401c885436db34041c2e)
        ;

        
    
    
            var marker_19c85b908eb44770a130173ee3b3d5eb = L.marker(
                [48.85881005, 2.320031012],
                {}
            ).addTo(map_ed51a1a33df74d2aa0860c56f33ad772);
        
    
            var icon_c823631d11ef4465a6fa3afba1d98e51 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_19c85b908eb44770a130173ee3b3d5eb.setIcon(icon_c823631d11ef4465a6fa3afba1d98e51);
        
    
        var popup_481c8110c0b94872b3812ab1e5de6b00 = L.popup({"maxWidth": "100%"});

        
            var html_259e4c8835fe4081a382edd7508ca6cb = $(`<div id="html_259e4c8835fe4081a382edd7508ca6cb" style="width: 100.0%; height: 100.0%;">CREDIT AGRICOLE CIB - LA DFENSE ::  PARIS LA DFENSE CEDEX</div>`)[0];
            popup_481c8110c0b94872b3812ab1e5de6b00.setContent(html_259e4c8835fe4081a382edd7508ca6cb);
        

        marker_19c85b908eb44770a130173ee3b3d5eb.bindPopup(popup_481c8110c0b94872b3812ab1e5de6b00)
        ;

        
    
    
            var marker_ac945d519a604f228abf727312ed7ad2 = L.marker(
                [43.6138, 1.345],
                {}
            ).addTo(map_ed51a1a33df74d2aa0860c56f33ad772);
        
    
            var icon_1b918c3296154ba0a4cd54c7cc475b4e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_ac945d519a604f228abf727312ed7ad2.setIcon(icon_1b918c3296154ba0a4cd54c7cc475b4e);
        
    
        var popup_ef5bb36e20714ad2b2e063f97e034450 = L.popup({"maxWidth": "100%"});

        
            var html_6f9b9d10eaaa46dc964574a80706015d = $(`<div id="html_6f9b9d10eaaa46dc964574a80706015d" style="width: 100.0%; height: 100.0%;">SOPRA STERIA - COLOMIERS ::  COLOMIERS CEDEX</div>`)[0];
            popup_ef5bb36e20714ad2b2e063f97e034450.setContent(html_6f9b9d10eaaa46dc964574a80706015d);
        

        marker_ac945d519a604f228abf727312ed7ad2.bindPopup(popup_ef5bb36e20714ad2b2e063f97e034450)
        ;

        
    
    
            var marker_d63c8b0070144b228a37e15749ef9c89 = L.marker(
                [42.9466381, 2.3236952],
                {}
            ).addTo(map_ed51a1a33df74d2aa0860c56f33ad772);
        
    
            var icon_3da05f0f5e6445648bdad6a9f81e13c8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_d63c8b0070144b228a37e15749ef9c89.setIcon(icon_3da05f0f5e6445648bdad6a9f81e13c8);
        
    
        var popup_337d01946b504c0b8b0d5f5f8bd93e12 = L.popup({"maxWidth": "100%"});

        
            var html_526db42708aa45c2b8ff7e808a4a2370 = $(`<div id="html_526db42708aa45c2b8ff7e808a4a2370" style="width: 100.0%; height: 100.0%;">CREDIT AGRICOLE PYRENEES GASCOGNE ::  SERRES CASTET</div>`)[0];
            popup_337d01946b504c0b8b0d5f5f8bd93e12.setContent(html_526db42708aa45c2b8ff7e808a4a2370);
        

        marker_d63c8b0070144b228a37e15749ef9c89.bindPopup(popup_337d01946b504c0b8b0d5f5f8bd93e12)
        ;

        
    
    
            var marker_34b0536c5bd944bab2eaf8ccdb6f3b37 = L.marker(
                [49.02212455, 2.1030397240000003],
                {}
            ).addTo(map_ed51a1a33df74d2aa0860c56f33ad772);
        
    
            var icon_ca1e93b6299b47a5bc82547952b9c288 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_34b0536c5bd944bab2eaf8ccdb6f3b37.setIcon(icon_ca1e93b6299b47a5bc82547952b9c288);
        
    
        var popup_dd5c5bb1e01a45cda4e146abef4a443f = L.popup({"maxWidth": "100%"});

        
            var html_1ba379c1f1bb40d3abbf98fd2c99d687 = $(`<div id="html_1ba379c1f1bb40d3abbf98fd2c99d687" style="width: 100.0%; height: 100.0%;">SAGEM DEFENSE SECURITE - ERAGNY SUR OISE ::  ERAGNY SUR OISE</div>`)[0];
            popup_dd5c5bb1e01a45cda4e146abef4a443f.setContent(html_1ba379c1f1bb40d3abbf98fd2c99d687);
        

        marker_34b0536c5bd944bab2eaf8ccdb6f3b37.bindPopup(popup_dd5c5bb1e01a45cda4e146abef4a443f)
        ;

        
    
    
            var marker_2c6662a9300b4c82916a7b0b3944367a = L.marker(
                [45.1893794, 4.1163969],
                {}
            ).addTo(map_ed51a1a33df74d2aa0860c56f33ad772);
        
    
            var icon_b5153f3f427145279b4b834bc2413b9a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_2c6662a9300b4c82916a7b0b3944367a.setIcon(icon_b5153f3f427145279b4b834bc2413b9a);
        
    
        var popup_89e71c6afc0a4ca0987035c2583c319d = L.popup({"maxWidth": "100%"});

        
            var html_902c69757b454147a975a0e291d74c62 = $(`<div id="html_902c69757b454147a975a0e291d74c62" style="width: 100.0%; height: 100.0%;">SAFRAN HELICOPTER ENGINES - BORDES ::  BORDES</div>`)[0];
            popup_89e71c6afc0a4ca0987035c2583c319d.setContent(html_902c69757b454147a975a0e291d74c62);
        

        marker_2c6662a9300b4c82916a7b0b3944367a.bindPopup(popup_89e71c6afc0a4ca0987035c2583c319d)
        ;

        
    
    
            var marker_425bf8c6b92548d4a95b02e3ac8705f6 = L.marker(
                [26.8105777, 73.76845490000001],
                {}
            ).addTo(map_ed51a1a33df74d2aa0860c56f33ad772);
        
    
            var icon_21e09a3c25b34118ba106b05183d1ab4 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_425bf8c6b92548d4a95b02e3ac8705f6.setIcon(icon_21e09a3c25b34118ba106b05183d1ab4);
        
    
        var popup_4ac2d19b524b432b8fdae396737efefc = L.popup({"maxWidth": "100%"});

        
            var html_1b444fd71cc64879837a95bbecd6f969 = $(`<div id="html_1b444fd71cc64879837a95bbecd6f969" style="width: 100.0%; height: 100.0%;">BKBIET - BIRLA INSTITUTE OF ENGINEERING AND TECHNOLOGY ::  RAJASTHAN</div>`)[0];
            popup_4ac2d19b524b432b8fdae396737efefc.setContent(html_1b444fd71cc64879837a95bbecd6f969);
        

        marker_425bf8c6b92548d4a95b02e3ac8705f6.bindPopup(popup_4ac2d19b524b432b8fdae396737efefc)
        ;

        
    
    
            var marker_e8ef6b5c388a48ef893c011187b1e8ab = L.marker(
                [48.8126688, 2.2385432],
                {}
            ).addTo(map_ed51a1a33df74d2aa0860c56f33ad772);
        
    
            var icon_2aaaf51813a84e9da4ac900bf389d15c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_e8ef6b5c388a48ef893c011187b1e8ab.setIcon(icon_2aaaf51813a84e9da4ac900bf389d15c);
        
    
        var popup_e5435853c7294744b366c69da848c84f = L.popup({"maxWidth": "100%"});

        
            var html_547a3bacb0404459b34ca258a4b8ddbd = $(`<div id="html_547a3bacb0404459b34ca258a4b8ddbd" style="width: 100.0%; height: 100.0%;">BOUYGUES TELECOM ::  MEUDON LA FORET CEDEX</div>`)[0];
            popup_e5435853c7294744b366c69da848c84f.setContent(html_547a3bacb0404459b34ca258a4b8ddbd);
        

        marker_e8ef6b5c388a48ef893c011187b1e8ab.bindPopup(popup_e5435853c7294744b366c69da848c84f)
        ;

        
    
    
            var marker_54f76b6211534516bae689fb85ba2cf6 = L.marker(
                [49.0527528, 2.0388736],
                {}
            ).addTo(map_ed51a1a33df74d2aa0860c56f33ad772);
        
    
            var icon_a89921445196487788ddf75c0b3cfaa4 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_54f76b6211534516bae689fb85ba2cf6.setIcon(icon_a89921445196487788ddf75c0b3cfaa4);
        
    
        var popup_71695720496342e994f46536b44b0f98 = L.popup({"maxWidth": "100%"});

        
            var html_1a84446a9f9f4b71a83a1bae846d2124 = $(`<div id="html_1a84446a9f9f4b71a83a1bae846d2124" style="width: 100.0%; height: 100.0%;">NOOLINE ::  CERGY</div>`)[0];
            popup_71695720496342e994f46536b44b0f98.setContent(html_1a84446a9f9f4b71a83a1bae846d2124);
        

        marker_54f76b6211534516bae689fb85ba2cf6.bindPopup(popup_71695720496342e994f46536b44b0f98)
        ;

        
    
    
            var marker_02a2f6df62f54f04a051581eb184ad4e = L.marker(
                [48.7681182, 1.949352],
                {}
            ).addTo(map_ed51a1a33df74d2aa0860c56f33ad772);
        
    
            var icon_dd947c5dc31f4d92bb1741e3d98526a9 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_02a2f6df62f54f04a051581eb184ad4e.setIcon(icon_dd947c5dc31f4d92bb1741e3d98526a9);
        
    
        var popup_ecc0eed6f7324d3cb258db2d86f64e6f = L.popup({"maxWidth": "100%"});

        
            var html_0e02c9bb044043e1a683e7bffa5933b6 = $(`<div id="html_0e02c9bb044043e1a683e7bffa5933b6" style="width: 100.0%; height: 100.0%;">THALES OPTRONIQUE - ELANCOURT ::  ELANCOURT</div>`)[0];
            popup_ecc0eed6f7324d3cb258db2d86f64e6f.setContent(html_0e02c9bb044043e1a683e7bffa5933b6);
        

        marker_02a2f6df62f54f04a051581eb184ad4e.bindPopup(popup_ecc0eed6f7324d3cb258db2d86f64e6f)
        ;

        
    
    
            var marker_d963bbf7cf0948358a128877275cc2a5 = L.marker(
                [48.78461, 2.2254946],
                {}
            ).addTo(map_ed51a1a33df74d2aa0860c56f33ad772);
        
    
            var icon_20b04a7083b243ec99a00a6c76d70c84 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_d963bbf7cf0948358a128877275cc2a5.setIcon(icon_20b04a7083b243ec99a00a6c76d70c84);
        
    
        var popup_8c3bae65cb3142ce91c6b9b310765cb4 = L.popup({"maxWidth": "100%"});

        
            var html_3efc021d7d524b8e846023653b0696e7 = $(`<div id="html_3efc021d7d524b8e846023653b0696e7" style="width: 100.0%; height: 100.0%;">THALES SERVICES - VELIZY VILLACOUBLAY ::  VELIZY VILLACOUBLAY</div>`)[0];
            popup_8c3bae65cb3142ce91c6b9b310765cb4.setContent(html_3efc021d7d524b8e846023653b0696e7);
        

        marker_d963bbf7cf0948358a128877275cc2a5.bindPopup(popup_8c3bae65cb3142ce91c6b9b310765cb4)
        ;

        
    
    
            var marker_96b15985aee84a06a2e30515ba405370 = L.marker(
                [48.9250016, 2.2105491],
                {}
            ).addTo(map_ed51a1a33df74d2aa0860c56f33ad772);
        
    
            var icon_1d7a56e42fe84023bdf8ea63f419c730 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_96b15985aee84a06a2e30515ba405370.setIcon(icon_1d7a56e42fe84023bdf8ea63f419c730);
        
    
        var popup_64e5129314c345788c568c0eb3f409d2 = L.popup({"maxWidth": "100%"});

        
            var html_4fff8ada2b184ab8a2260d350e512e99 = $(`<div id="html_4fff8ada2b184ab8a2260d350e512e99" style="width: 100.0%; height: 100.0%;">WORLDLINE ::  BEZONS</div>`)[0];
            popup_64e5129314c345788c568c0eb3f409d2.setContent(html_4fff8ada2b184ab8a2260d350e512e99);
        

        marker_96b15985aee84a06a2e30515ba405370.bindPopup(popup_64e5129314c345788c568c0eb3f409d2)
        ;

        
    
    
            var marker_d271389d15cf4fe98f711ae6dc58095e = L.marker(
                [43.2011, 0.024291999999999998],
                {}
            ).addTo(map_ed51a1a33df74d2aa0860c56f33ad772);
        
    
            var icon_b602eb8f94f64af299672d6c2b54bfbb = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_d271389d15cf4fe98f711ae6dc58095e.setIcon(icon_b602eb8f94f64af299672d6c2b54bfbb);
        
    
        var popup_32ac8cdb0c3d4aef9f481c89adda56ba = L.popup({"maxWidth": "100%"});

        
            var html_fb2420d137064ebc94c692ee041d90f9 = $(`<div id="html_fb2420d137064ebc94c692ee041d90f9" style="width: 100.0%; height: 100.0%;">ISIA ::  JUILLAN</div>`)[0];
            popup_32ac8cdb0c3d4aef9f481c89adda56ba.setContent(html_fb2420d137064ebc94c692ee041d90f9);
        

        marker_d271389d15cf4fe98f711ae6dc58095e.bindPopup(popup_32ac8cdb0c3d4aef9f481c89adda56ba)
        ;

        
    
    
            var marker_a28347b55fc3401e97139effe4531640 = L.marker(
                [48.856610100000005, 2.3514992],
                {}
            ).addTo(map_ed51a1a33df74d2aa0860c56f33ad772);
        
    
            var icon_8a23e5ce83704d5d9046e57644661138 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_a28347b55fc3401e97139effe4531640.setIcon(icon_8a23e5ce83704d5d9046e57644661138);
        
    
        var popup_d9231525e31f4432b59290a70bdc781c = L.popup({"maxWidth": "100%"});

        
            var html_28ca151496274003a8fd1748fd42f1c2 = $(`<div id="html_28ca151496274003a8fd1748fd42f1c2" style="width: 100.0%; height: 100.0%;">ORANGE ::  PARIS CEDEX 15</div>`)[0];
            popup_d9231525e31f4432b59290a70bdc781c.setContent(html_28ca151496274003a8fd1748fd42f1c2);
        

        marker_a28347b55fc3401e97139effe4531640.bindPopup(popup_d9231525e31f4432b59290a70bdc781c)
        ;

        
    
    
            var marker_56464bd649ca4365a2a33f0e2038e977 = L.marker(
                [48.856610100000005, 2.3514992],
                {}
            ).addTo(map_ed51a1a33df74d2aa0860c56f33ad772);
        
    
            var icon_2aaa29fcd51343e4bbb624fe3e94f9ce = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_56464bd649ca4365a2a33f0e2038e977.setIcon(icon_2aaa29fcd51343e4bbb624fe3e94f9ce);
        
    
        var popup_6318d48b71a645e089a2b2d313a8fcb9 = L.popup({"maxWidth": "100%"});

        
            var html_533a319f7403493d93a81d499a8ca2f9 = $(`<div id="html_533a319f7403493d93a81d499a8ca2f9" style="width: 100.0%; height: 100.0%;">NATIXIS ASSET MANAGEMENT ::  PARIS CEDEX 13</div>`)[0];
            popup_6318d48b71a645e089a2b2d313a8fcb9.setContent(html_533a319f7403493d93a81d499a8ca2f9);
        

        marker_56464bd649ca4365a2a33f0e2038e977.bindPopup(popup_6318d48b71a645e089a2b2d313a8fcb9)
        ;

        
    
    
            var marker_6a0645ecd1e24014bc1d61df496d1447 = L.marker(
                [-23.533773, -46.62529],
                {}
            ).addTo(map_ed51a1a33df74d2aa0860c56f33ad772);
        
    
            var icon_aaaef9c8488d45c79f00462f5762342a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_6a0645ecd1e24014bc1d61df496d1447.setIcon(icon_aaaef9c8488d45c79f00462f5762342a);
        
    
        var popup_3d0c34fab8af45ef939432278cc3fac3 = L.popup({"maxWidth": "100%"});

        
            var html_cc1f8f9ab1834822b8ca47f59f05f9eb = $(`<div id="html_cc1f8f9ab1834822b8ca47f59f05f9eb" style="width: 100.0%; height: 100.0%;">UNIVERSIDADE ESTADUAL PAULISTA - UNESP ::  SO PAULO</div>`)[0];
            popup_3d0c34fab8af45ef939432278cc3fac3.setContent(html_cc1f8f9ab1834822b8ca47f59f05f9eb);
        

        marker_6a0645ecd1e24014bc1d61df496d1447.bindPopup(popup_3d0c34fab8af45ef939432278cc3fac3)
        ;

        
    
</script>