<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_c3a5460b4fb44677bd2316b78f96215d {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_c3a5460b4fb44677bd2316b78f96215d" ></div>
        
</body>
<script>    
    
            var map_c3a5460b4fb44677bd2316b78f96215d = L.map(
                "map_c3a5460b4fb44677bd2316b78f96215d",
                {
                    center: [47.083333, 2.4],
                    crs: L.CRS.EPSG3857,
                    maxBounds: [[-90, -180], [90, 180]],
                    zoom: 6,
                    zoomControl: false,
                    preferCanvas: false,
                    noWrap: true,
                }
            );

            

        
    
            var tile_layer_b43b3f7575e14682a64e9bb233c38a69 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 2, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_c3a5460b4fb44677bd2316b78f96215d);
        
    
            var marker_c502bd7f924141398b7badac6a3299da = L.marker(
                [44.9680346, 4.2579743],
                {}
            ).addTo(map_c3a5460b4fb44677bd2316b78f96215d);
        
    
            var icon_10436f829b1d48a08e23276bb6cba8ce = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_c502bd7f924141398b7badac6a3299da.setIcon(icon_10436f829b1d48a08e23276bb6cba8ce);
        
    
        var popup_be93746bdbf341e3b4d1086da0b782a3 = L.popup({"maxWidth": "100%"});

        
            var html_daf9ff575265475f9e23c7a4e42d6553 = $(`<div id="html_daf9ff575265475f9e23c7a4e42d6553" style="width: 100.0%; height: 100.0%;">TOTAL - PAU ::  PAU CEDEX</div>`)[0];
            popup_be93746bdbf341e3b4d1086da0b782a3.setContent(html_daf9ff575265475f9e23c7a4e42d6553);
        

        marker_c502bd7f924141398b7badac6a3299da.bindPopup(popup_be93746bdbf341e3b4d1086da0b782a3)
        ;

        
    
    
            var marker_8e3968c6f63c44d0b455f842caa71692 = L.marker(
                [48.8953328, 2.2561602],
                {}
            ).addTo(map_c3a5460b4fb44677bd2316b78f96215d);
        
    
            var icon_e38fbd3db70646668aefeae70c313bcd = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_8e3968c6f63c44d0b455f842caa71692.setIcon(icon_e38fbd3db70646668aefeae70c313bcd);
        
    
        var popup_df45301989c24d0f853d2dbda890685a = L.popup({"maxWidth": "100%"});

        
            var html_02a8b903affd4a7d92f508ba8cdf9d92 = $(`<div id="html_02a8b903affd4a7d92f508ba8cdf9d92" style="width: 100.0%; height: 100.0%;">CGI - COURBEVOIE ::  COURBEVOIE</div>`)[0];
            popup_df45301989c24d0f853d2dbda890685a.setContent(html_02a8b903affd4a7d92f508ba8cdf9d92);
        

        marker_8e3968c6f63c44d0b455f842caa71692.bindPopup(popup_df45301989c24d0f853d2dbda890685a)
        ;

        
    
    
            var marker_bbc36b5d443649809feb36e5b3db7afd = L.marker(
                [48.83717055, 2.247373524],
                {}
            ).addTo(map_c3a5460b4fb44677bd2316b78f96215d);
        
    
            var icon_5c1812d743674e3e8a83b61a2d9b29fa = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_bbc36b5d443649809feb36e5b3db7afd.setIcon(icon_5c1812d743674e3e8a83b61a2d9b29fa);
        
    
        var popup_350e941f9eda4442b4545707613c3d45 = L.popup({"maxWidth": "100%"});

        
            var html_dc40e08f1044488582b0dd9ae671d2c1 = $(`<div id="html_dc40e08f1044488582b0dd9ae671d2c1" style="width: 100.0%; height: 100.0%;">AUBAY ::  BOULOGNE BILLANCOURT</div>`)[0];
            popup_350e941f9eda4442b4545707613c3d45.setContent(html_dc40e08f1044488582b0dd9ae671d2c1);
        

        marker_bbc36b5d443649809feb36e5b3db7afd.bindPopup(popup_350e941f9eda4442b4545707613c3d45)
        ;

        
    
    
            var marker_a6fea5b3171949a889d9c627b47f45fb = L.marker(
                [49.0527528, 2.0388736],
                {}
            ).addTo(map_c3a5460b4fb44677bd2316b78f96215d);
        
    
            var icon_b9a6695dd8124fb3ada22e1cd93d5ea6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_a6fea5b3171949a889d9c627b47f45fb.setIcon(icon_b9a6695dd8124fb3ada22e1cd93d5ea6);
        
    
        var popup_1b81ab6fe14b43eb895f66d743207dcd = L.popup({"maxWidth": "100%"});

        
            var html_3767562d78d24284992150cfe1381719 = $(`<div id="html_3767562d78d24284992150cfe1381719" style="width: 100.0%; height: 100.0%;">VAL'EISTI ::  CERGY CEDEX</div>`)[0];
            popup_1b81ab6fe14b43eb895f66d743207dcd.setContent(html_3767562d78d24284992150cfe1381719);
        

        marker_a6fea5b3171949a889d9c627b47f45fb.bindPopup(popup_1b81ab6fe14b43eb895f66d743207dcd)
        ;

        
    
    
            var marker_29f812382da24ead9944a768b1b2b9b5 = L.marker(
                [54.84613435, 83.09421284],
                {}
            ).addTo(map_c3a5460b4fb44677bd2316b78f96215d);
        
    
            var icon_e30ee835778d4e1a926026f73deb4280 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_29f812382da24ead9944a768b1b2b9b5.setIcon(icon_e30ee835778d4e1a926026f73deb4280);
        
    
        var popup_fa1d402778604fc695b26e631319ff81 = L.popup({"maxWidth": "100%"});

        
            var html_6c6e495b0426454f934eab7df085cb66 = $(`<div id="html_6c6e495b0426454f934eab7df085cb66" style="width: 100.0%; height: 100.0%;">NOVOSIBIRSK STATE UNIVERSITY ::  NOVOSIBIRSK</div>`)[0];
            popup_fa1d402778604fc695b26e631319ff81.setContent(html_6c6e495b0426454f934eab7df085cb66);
        

        marker_29f812382da24ead9944a768b1b2b9b5.bindPopup(popup_fa1d402778604fc695b26e631319ff81)
        ;

        
    
    
            var marker_59f5fce5ded544958bfa6978d1b8f9cf = L.marker(
                [48.502139299999996, -2.7374169999999998],
                {}
            ).addTo(map_c3a5460b4fb44677bd2316b78f96215d);
        
    
            var icon_1cd50e76278544909f37ff746418ed61 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_59f5fce5ded544958bfa6978d1b8f9cf.setIcon(icon_1cd50e76278544909f37ff746418ed61);
        
    
        var popup_a560b9787c1f420d8e3e74fbca7e123f = L.popup({"maxWidth": "100%"});

        
            var html_b1bb8016d22e4cc2bd04ef79907e4efd = $(`<div id="html_b1bb8016d22e4cc2bd04ef79907e4efd" style="width: 100.0%; height: 100.0%;">SOCIETE GENERALE ::  PARIS CEDEX 18</div>`)[0];
            popup_a560b9787c1f420d8e3e74fbca7e123f.setContent(html_b1bb8016d22e4cc2bd04ef79907e4efd);
        

        marker_59f5fce5ded544958bfa6978d1b8f9cf.bindPopup(popup_a560b9787c1f420d8e3e74fbca7e123f)
        ;

        
    
    
            var marker_8eaf3eacf04445748c520eb98028dd93 = L.marker(
                [34.73297625, 135.4562325],
                {}
            ).addTo(map_c3a5460b4fb44677bd2316b78f96215d);
        
    
            var icon_59aa1a75575447f497114ae7670f7a57 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_8eaf3eacf04445748c520eb98028dd93.setIcon(icon_59aa1a75575447f497114ae7670f7a57);
        
    
        var popup_0cf2358acaf144f4aed88c480168eab0 = L.popup({"maxWidth": "100%"});

        
            var html_ab08d67a0e904141b523cc17323faf01 = $(`<div id="html_ab08d67a0e904141b523cc17323faf01" style="width: 100.0%; height: 100.0%;">OSAKA PREFECTURE UNIVERSITY ::  OSAKA</div>`)[0];
            popup_0cf2358acaf144f4aed88c480168eab0.setContent(html_ab08d67a0e904141b523cc17323faf01);
        

        marker_8eaf3eacf04445748c520eb98028dd93.bindPopup(popup_0cf2358acaf144f4aed88c480168eab0)
        ;

        
    
    
            var marker_3790e945a2b84ff69e849f0213bc9e1b = L.marker(
                [48.502139299999996, -2.7374169999999998],
                {}
            ).addTo(map_c3a5460b4fb44677bd2316b78f96215d);
        
    
            var icon_195057e643014cc793634acfc92f7693 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_3790e945a2b84ff69e849f0213bc9e1b.setIcon(icon_195057e643014cc793634acfc92f7693);
        
    
        var popup_f972d0049c20439a8d9f04f20aad59b3 = L.popup({"maxWidth": "100%"});

        
            var html_c84ccfc502e74d698d867b5f3de9ca33 = $(`<div id="html_c84ccfc502e74d698d867b5f3de9ca33" style="width: 100.0%; height: 100.0%;">SOCIETE GENERALE - PARIS 18 ::  PARIS CEDEX 18</div>`)[0];
            popup_f972d0049c20439a8d9f04f20aad59b3.setContent(html_c84ccfc502e74d698d867b5f3de9ca33);
        

        marker_3790e945a2b84ff69e849f0213bc9e1b.bindPopup(popup_f972d0049c20439a8d9f04f20aad59b3)
        ;

        
    
    
            var marker_7715c99136e2400cbd3796916133bd52 = L.marker(
                [48.78094960000001, 2.1900052000000003],
                {}
            ).addTo(map_c3a5460b4fb44677bd2316b78f96215d);
        
    
            var icon_e59be46966254b21886b7714cd1e232a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_7715c99136e2400cbd3796916133bd52.setIcon(icon_e59be46966254b21886b7714cd1e232a);
        
    
        var popup_b62c7379eca8431aa832b374c5710982 = L.popup({"maxWidth": "100%"});

        
            var html_a8e1aa6722ae489f8de1e775704e3cd2 = $(`<div id="html_a8e1aa6722ae489f8de1e775704e3cd2" style="width: 100.0%; height: 100.0%;">DASSAULT SYSTEMES ::  VELIZY VILLACOUBLAY CEDEX</div>`)[0];
            popup_b62c7379eca8431aa832b374c5710982.setContent(html_a8e1aa6722ae489f8de1e775704e3cd2);
        

        marker_7715c99136e2400cbd3796916133bd52.bindPopup(popup_b62c7379eca8431aa832b374c5710982)
        ;

        
    
    
            var marker_b53ffd544c074d69bb827ccbb9d58fe4 = L.marker(
                [48.856610100000005, 2.3514992],
                {}
            ).addTo(map_c3a5460b4fb44677bd2316b78f96215d);
        
    
            var icon_6591c1380ffb47028602be658443e1dd = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_b53ffd544c074d69bb827ccbb9d58fe4.setIcon(icon_6591c1380ffb47028602be658443e1dd);
        
    
        var popup_ff25eb208f704b1d9a47325fb61bff56 = L.popup({"maxWidth": "100%"});

        
            var html_e28cc67bc9c1448a927a992824cba815 = $(`<div id="html_e28cc67bc9c1448a927a992824cba815" style="width: 100.0%; height: 100.0%;">TALAN SOLUTIONS ::  PARIS</div>`)[0];
            popup_ff25eb208f704b1d9a47325fb61bff56.setContent(html_e28cc67bc9c1448a927a992824cba815);
        

        marker_b53ffd544c074d69bb827ccbb9d58fe4.bindPopup(popup_ff25eb208f704b1d9a47325fb61bff56)
        ;

        
    
    
            var marker_d1dc8cadbbf64834b3d68dcde4c271e2 = L.marker(
                [48.856610100000005, 2.3514992],
                {}
            ).addTo(map_c3a5460b4fb44677bd2316b78f96215d);
        
    
            var icon_f92f00f3b5ac43178c2f1bacccfbc0c0 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_d1dc8cadbbf64834b3d68dcde4c271e2.setIcon(icon_f92f00f3b5ac43178c2f1bacccfbc0c0);
        
    
        var popup_eb260195e7334a84a1eef7730e48ce3b = L.popup({"maxWidth": "100%"});

        
            var html_2d3fdbf9b6a74dba9598cfad49fe5d35 = $(`<div id="html_2d3fdbf9b6a74dba9598cfad49fe5d35" style="width: 100.0%; height: 100.0%;">SOPRA GROUP - LA DEFENSE ::  PARIS LA DEFENSE 12 CEDEX</div>`)[0];
            popup_eb260195e7334a84a1eef7730e48ce3b.setContent(html_2d3fdbf9b6a74dba9598cfad49fe5d35);
        

        marker_d1dc8cadbbf64834b3d68dcde4c271e2.bindPopup(popup_eb260195e7334a84a1eef7730e48ce3b)
        ;

        
    
    
            var marker_45b0dcc9e0a7460c95c5ebe8beaffbfa = L.marker(
                [48.85881005, 2.320031012],
                {}
            ).addTo(map_c3a5460b4fb44677bd2316b78f96215d);
        
    
            var icon_1a33076e06b048d893ec3d51ee516191 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_45b0dcc9e0a7460c95c5ebe8beaffbfa.setIcon(icon_1a33076e06b048d893ec3d51ee516191);
        
    
        var popup_9f8ad272b79b4512883bdbf8bf82db7b = L.popup({"maxWidth": "100%"});

        
            var html_8ac81fac2e0943a8ada5071aa35e6948 = $(`<div id="html_8ac81fac2e0943a8ada5071aa35e6948" style="width: 100.0%; height: 100.0%;">WAVESTONE ::  PARIS LA DEFENSE</div>`)[0];
            popup_9f8ad272b79b4512883bdbf8bf82db7b.setContent(html_8ac81fac2e0943a8ada5071aa35e6948);
        

        marker_45b0dcc9e0a7460c95c5ebe8beaffbfa.bindPopup(popup_9f8ad272b79b4512883bdbf8bf82db7b)
        ;

        
    
    
            var marker_8c7acc5a0b6444e7a34214d6cfcde097 = L.marker(
                [43.6044622, 1.4442469],
                {}
            ).addTo(map_c3a5460b4fb44677bd2316b78f96215d);
        
    
            var icon_148e9f728d3348d2868a00d8b67a3032 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_8c7acc5a0b6444e7a34214d6cfcde097.setIcon(icon_148e9f728d3348d2868a00d8b67a3032);
        
    
        var popup_f79b1e09ddf540d2a246aa320a3356b2 = L.popup({"maxWidth": "100%"});

        
            var html_f74100232c8d481692d60b97eaf994e0 = $(`<div id="html_f74100232c8d481692d60b97eaf994e0" style="width: 100.0%; height: 100.0%;">CAPGEMINI TECHNOLOGY SERVICES - TOULOUSE ::  TOULOUSE CEDEX 1</div>`)[0];
            popup_f79b1e09ddf540d2a246aa320a3356b2.setContent(html_f74100232c8d481692d60b97eaf994e0);
        

        marker_8c7acc5a0b6444e7a34214d6cfcde097.bindPopup(popup_f79b1e09ddf540d2a246aa320a3356b2)
        ;

        
    
    
            var marker_34945c362e834e1d9e8e7ddcc060033d = L.marker(
                [48.8710147, 2.2252883],
                {}
            ).addTo(map_c3a5460b4fb44677bd2316b78f96215d);
        
    
            var icon_b5f19bdd7cfd436b92ea73108b919f23 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_34945c362e834e1d9e8e7ddcc060033d.setIcon(icon_b5f19bdd7cfd436b92ea73108b919f23);
        
    
        var popup_200fe94faef2482bae1febc5583ec218 = L.popup({"maxWidth": "100%"});

        
            var html_2c0105b2af3f48409e76aae83e7b289a = $(`<div id="html_2c0105b2af3f48409e76aae83e7b289a" style="width: 100.0%; height: 100.0%;">CAPGEMINI TECHNOLOGY SERVICES - SURESNES ::  SURESNES CEDEX</div>`)[0];
            popup_200fe94faef2482bae1febc5583ec218.setContent(html_2c0105b2af3f48409e76aae83e7b289a);
        

        marker_34945c362e834e1d9e8e7ddcc060033d.bindPopup(popup_200fe94faef2482bae1febc5583ec218)
        ;

        
    
    
            var marker_c0a63c8e5d2b498280eb6ad9bee5f56b = L.marker(
                [48.8873911, 7.680852499999999],
                {}
            ).addTo(map_c3a5460b4fb44677bd2316b78f96215d);
        
    
            var icon_acdf83bd02b0431588a88a1de94d9e74 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_c0a63c8e5d2b498280eb6ad9bee5f56b.setIcon(icon_acdf83bd02b0431588a88a1de94d9e74);
        
    
        var popup_aceac13addc8431d8f5ba47aceb36df5 = L.popup({"maxWidth": "100%"});

        
            var html_87b92e4f53474da7955e4dc62b871fd6 = $(`<div id="html_87b92e4f53474da7955e4dc62b871fd6" style="width: 100.0%; height: 100.0%;">HSBC - PARIS ::  PARIS CEDEX 8</div>`)[0];
            popup_aceac13addc8431d8f5ba47aceb36df5.setContent(html_87b92e4f53474da7955e4dc62b871fd6);
        

        marker_c0a63c8e5d2b498280eb6ad9bee5f56b.bindPopup(popup_aceac13addc8431d8f5ba47aceb36df5)
        ;

        
    
    
            var marker_b3193a91f6734f638aef68fe960d3795 = L.marker(
                [48.8953328, 2.2561602],
                {}
            ).addTo(map_c3a5460b4fb44677bd2316b78f96215d);
        
    
            var icon_2f9b2c253aa54561b6bdf1a90d4c235d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_b3193a91f6734f638aef68fe960d3795.setIcon(icon_2f9b2c253aa54561b6bdf1a90d4c235d);
        
    
        var popup_3748312851a045678eb1e1dd73e2180a = L.popup({"maxWidth": "100%"});

        
            var html_264f6f96877a4dccb36351010fac9a51 = $(`<div id="html_264f6f96877a4dccb36351010fac9a51" style="width: 100.0%; height: 100.0%;">SOPRA STERIA - COURBEVOIE ::  COURBEVOIE</div>`)[0];
            popup_3748312851a045678eb1e1dd73e2180a.setContent(html_264f6f96877a4dccb36351010fac9a51);
        

        marker_b3193a91f6734f638aef68fe960d3795.bindPopup(popup_3748312851a045678eb1e1dd73e2180a)
        ;

        
    
    
            var marker_db68e14c99de4afe98d1b77fa9b75f14 = L.marker(
                [48.856610100000005, 2.3514992],
                {}
            ).addTo(map_c3a5460b4fb44677bd2316b78f96215d);
        
    
            var icon_7b74c12ed7cb4a72b0493b2a3b473a00 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_db68e14c99de4afe98d1b77fa9b75f14.setIcon(icon_7b74c12ed7cb4a72b0493b2a3b473a00);
        
    
        var popup_5fe1bb8024a34e8687cd2b94fe7696ed = L.popup({"maxWidth": "100%"});

        
            var html_c18909b6e5ca40359b2dfe35137db808 = $(`<div id="html_c18909b6e5ca40359b2dfe35137db808" style="width: 100.0%; height: 100.0%;">SOLUTION BI ::  PARIS</div>`)[0];
            popup_5fe1bb8024a34e8687cd2b94fe7696ed.setContent(html_c18909b6e5ca40359b2dfe35137db808);
        

        marker_db68e14c99de4afe98d1b77fa9b75f14.bindPopup(popup_5fe1bb8024a34e8687cd2b94fe7696ed)
        ;

        
    
    
            var marker_0f04bf2c2a4c48aa9fdcc95ca213ef30 = L.marker(
                [48.7997756, 2.2897124],
                {}
            ).addTo(map_c3a5460b4fb44677bd2316b78f96215d);
        
    
            var icon_f51a0502f1ee4dc3bd444816e1c6e4f5 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_0f04bf2c2a4c48aa9fdcc95ca213ef30.setIcon(icon_f51a0502f1ee4dc3bd444816e1c6e4f5);
        
    
        var popup_81ae3f79b8794cea8f3d16a3ab7bab32 = L.popup({"maxWidth": "100%"});

        
            var html_77ad2059ac974c95a33cc8c8745fd70a = $(`<div id="html_77ad2059ac974c95a33cc8c8745fd70a" style="width: 100.0%; height: 100.0%;">AVANADE ::  CHATILLON</div>`)[0];
            popup_81ae3f79b8794cea8f3d16a3ab7bab32.setContent(html_77ad2059ac974c95a33cc8c8745fd70a);
        

        marker_0f04bf2c2a4c48aa9fdcc95ca213ef30.bindPopup(popup_81ae3f79b8794cea8f3d16a3ab7bab32)
        ;

        
    
    
            var marker_f54571703530429da2445f3fbb503c6c = L.marker(
                [48.94790689999999, 2.2481797],
                {}
            ).addTo(map_c3a5460b4fb44677bd2316b78f96215d);
        
    
            var icon_9189e987ec59457185dc32909775642e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_f54571703530429da2445f3fbb503c6c.setIcon(icon_9189e987ec59457185dc32909775642e);
        
    
        var popup_b58319d1cf2e4c98bb9602e74f6afda0 = L.popup({"maxWidth": "100%"});

        
            var html_e1a424d0318b45678d855413f6ee5a50 = $(`<div id="html_e1a424d0318b45678d855413f6ee5a50" style="width: 100.0%; height: 100.0%;">THALES COMMUNICATIONS - GENNEVILLIERS ::  ARGENTEUIL</div>`)[0];
            popup_b58319d1cf2e4c98bb9602e74f6afda0.setContent(html_e1a424d0318b45678d855413f6ee5a50);
        

        marker_f54571703530429da2445f3fbb503c6c.bindPopup(popup_b58319d1cf2e4c98bb9602e74f6afda0)
        ;

        
    
    
            var marker_4c70c05108ed42aa960d449fd95bacab = L.marker(
                [44.805615, -0.6308396],
                {}
            ).addTo(map_c3a5460b4fb44677bd2316b78f96215d);
        
    
            var icon_0df98597f0fc46f3b27ea17c6a8a101d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_4c70c05108ed42aa960d449fd95bacab.setIcon(icon_0df98597f0fc46f3b27ea17c6a8a101d);
        
    
        var popup_b6e4c1357b7846929ab6857ef067b8d0 = L.popup({"maxWidth": "100%"});

        
            var html_3315ff3fa2a24854ae04fc890c038f21 = $(`<div id="html_3315ff3fa2a24854ae04fc890c038f21" style="width: 100.0%; height: 100.0%;">ATOS - PESSAC ::  PESSAC</div>`)[0];
            popup_b6e4c1357b7846929ab6857ef067b8d0.setContent(html_3315ff3fa2a24854ae04fc890c038f21);
        

        marker_4c70c05108ed42aa960d449fd95bacab.bindPopup(popup_b6e4c1357b7846929ab6857ef067b8d0)
        ;

        
    
    
            var marker_7109f4e572f94b8d804af9d8f7834996 = L.marker(
                [49.0660487, 2.0614598],
                {}
            ).addTo(map_c3a5460b4fb44677bd2316b78f96215d);
        
    
            var icon_fe8d5789e9404c3c9bc508580da63ceb = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_7109f4e572f94b8d804af9d8f7834996.setIcon(icon_fe8d5789e9404c3c9bc508580da63ceb);
        
    
        var popup_e25afc38736a4e86a830b12c2d9c9379 = L.popup({"maxWidth": "100%"});

        
            var html_3fdb4ecc68e340c3b2b8b57dff110450 = $(`<div id="html_3fdb4ecc68e340c3b2b8b57dff110450" style="width: 100.0%; height: 100.0%;">SAFRAN IDENTITY AND SECURITY ::  OSNY</div>`)[0];
            popup_e25afc38736a4e86a830b12c2d9c9379.setContent(html_3fdb4ecc68e340c3b2b8b57dff110450);
        

        marker_7109f4e572f94b8d804af9d8f7834996.bindPopup(popup_e25afc38736a4e86a830b12c2d9c9379)
        ;

        
    
    
            var marker_42d05b765c66496f989e6a5e039e975e = L.marker(
                [43.6044622, 1.4442469],
                {}
            ).addTo(map_c3a5460b4fb44677bd2316b78f96215d);
        
    
            var icon_3d90e6a72b334375bd784a43b2a38b17 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_42d05b765c66496f989e6a5e039e975e.setIcon(icon_3d90e6a72b334375bd784a43b2a38b17);
        
    
        var popup_19868301aded4a16a047cac09b725cbf = L.popup({"maxWidth": "100%"});

        
            var html_cc928b87a8e54de9966eaa4a66b49637 = $(`<div id="html_cc928b87a8e54de9966eaa4a66b49637" style="width: 100.0%; height: 100.0%;">VIVERIS - TOULOUSE ::  TOULOUSE</div>`)[0];
            popup_19868301aded4a16a047cac09b725cbf.setContent(html_cc928b87a8e54de9966eaa4a66b49637);
        

        marker_42d05b765c66496f989e6a5e039e975e.bindPopup(popup_19868301aded4a16a047cac09b725cbf)
        ;

        
    
    
            var marker_0dc3096bab4542cdb2246400a4ea5bfb = L.marker(
                [48.856610100000005, 2.3514992],
                {}
            ).addTo(map_c3a5460b4fb44677bd2316b78f96215d);
        
    
            var icon_c72e9900b9d44d39ad88623d63d124f6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_0dc3096bab4542cdb2246400a4ea5bfb.setIcon(icon_c72e9900b9d44d39ad88623d63d124f6);
        
    
        var popup_3f1b1d9dcb94404ca565659a0fef621e = L.popup({"maxWidth": "100%"});

        
            var html_f5316ad433ca42daa4d3c1c148eab610 = $(`<div id="html_f5316ad433ca42daa4d3c1c148eab610" style="width: 100.0%; height: 100.0%;">NATIXIS ::  PARIS</div>`)[0];
            popup_3f1b1d9dcb94404ca565659a0fef621e.setContent(html_f5316ad433ca42daa4d3c1c148eab610);
        

        marker_0dc3096bab4542cdb2246400a4ea5bfb.bindPopup(popup_3f1b1d9dcb94404ca565659a0fef621e)
        ;

        
    
    
            var marker_1c2720c89763476ab06bc6d1e5c36659 = L.marker(
                [48.856610100000005, 2.3514992],
                {}
            ).addTo(map_c3a5460b4fb44677bd2316b78f96215d);
        
    
            var icon_0c9d6a95566e4d48944e40a1bcd47436 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_1c2720c89763476ab06bc6d1e5c36659.setIcon(icon_0c9d6a95566e4d48944e40a1bcd47436);
        
    
        var popup_3f5ae08e12f74939a6e4dfa3c6980cad = L.popup({"maxWidth": "100%"});

        
            var html_32213bd150df4bb1b39968c8b24c448c = $(`<div id="html_32213bd150df4bb1b39968c8b24c448c" style="width: 100.0%; height: 100.0%;">BNP PARIBAS ::  PARIS CEDEX 09</div>`)[0];
            popup_3f5ae08e12f74939a6e4dfa3c6980cad.setContent(html_32213bd150df4bb1b39968c8b24c448c);
        

        marker_1c2720c89763476ab06bc6d1e5c36659.bindPopup(popup_3f5ae08e12f74939a6e4dfa3c6980cad)
        ;

        
    
    
            var marker_ff826322425e443e84cded3731061149 = L.marker(
                [48.886069799999994, 2.224118411],
                {}
            ).addTo(map_c3a5460b4fb44677bd2316b78f96215d);
        
    
            var icon_aa067b40854044f48b66319217d1cba6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_ff826322425e443e84cded3731061149.setIcon(icon_aa067b40854044f48b66319217d1cba6);
        
    
        var popup_e44e392ddc3a404db53845049ab63507 = L.popup({"maxWidth": "100%"});

        
            var html_0390b828c059470e9f40e030cd66d39d = $(`<div id="html_0390b828c059470e9f40e030cd66d39d" style="width: 100.0%; height: 100.0%;">MICROPOLE LEVALLOIS 3 ::  NANTERRE</div>`)[0];
            popup_e44e392ddc3a404db53845049ab63507.setContent(html_0390b828c059470e9f40e030cd66d39d);
        

        marker_ff826322425e443e84cded3731061149.bindPopup(popup_e44e392ddc3a404db53845049ab63507)
        ;

        
    
    
            var marker_7282c73bc9564262b81fbecb90cf9e0e = L.marker(
                [45.398468900000005, 9.1476],
                {}
            ).addTo(map_c3a5460b4fb44677bd2316b78f96215d);
        
    
            var icon_dd9dcf1c07ff4087a699ce5d7b1ff6fe = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_7282c73bc9564262b81fbecb90cf9e0e.setIcon(icon_dd9dcf1c07ff4087a699ce5d7b1ff6fe);
        
    
        var popup_b8f2c9d8858f464aba54ca1e9d7ca77f = L.popup({"maxWidth": "100%"});

        
            var html_45a14b7eb8b2454394a0cae4d96d1da6 = $(`<div id="html_45a14b7eb8b2454394a0cae4d96d1da6" style="width: 100.0%; height: 100.0%;">SOPRA STERIA - LA DEFENSE ::  LA DEFENSE CEDEX</div>`)[0];
            popup_b8f2c9d8858f464aba54ca1e9d7ca77f.setContent(html_45a14b7eb8b2454394a0cae4d96d1da6);
        

        marker_7282c73bc9564262b81fbecb90cf9e0e.bindPopup(popup_b8f2c9d8858f464aba54ca1e9d7ca77f)
        ;

        
    
    
            var marker_935eac981d934ffa9e9fe988fd27eb9b = L.marker(
                [48.856610100000005, 2.3514992],
                {}
            ).addTo(map_c3a5460b4fb44677bd2316b78f96215d);
        
    
            var icon_43396d6ffc1c4efd9996944269de6cfe = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_935eac981d934ffa9e9fe988fd27eb9b.setIcon(icon_43396d6ffc1c4efd9996944269de6cfe);
        
    
        var popup_3d228252bc114a62bbb469d6f3e17b5f = L.popup({"maxWidth": "100%"});

        
            var html_3b078c1645a04c7fb1bb893fcd82c149 = $(`<div id="html_3b078c1645a04c7fb1bb893fcd82c149" style="width: 100.0%; height: 100.0%;">BANQUE DE FRANCE ::  PARIS</div>`)[0];
            popup_3d228252bc114a62bbb469d6f3e17b5f.setContent(html_3b078c1645a04c7fb1bb893fcd82c149);
        

        marker_935eac981d934ffa9e9fe988fd27eb9b.bindPopup(popup_3d228252bc114a62bbb469d6f3e17b5f)
        ;

        
    
    
            var marker_e80dae2356e242feab41403eb4fcf727 = L.marker(
                [48.856610100000005, 2.3514992],
                {}
            ).addTo(map_c3a5460b4fb44677bd2316b78f96215d);
        
    
            var icon_0e748034bbea407ea1e51d291e8e273b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_e80dae2356e242feab41403eb4fcf727.setIcon(icon_0e748034bbea407ea1e51d291e8e273b);
        
    
        var popup_232d8cdbf8bb4a71bdb38de2c1ddf1b8 = L.popup({"maxWidth": "100%"});

        
            var html_16a2b6148ff242eab86a84cca7a6d05e = $(`<div id="html_16a2b6148ff242eab86a84cca7a6d05e" style="width: 100.0%; height: 100.0%;">DXC TECHNOLOGY ::  PARIS LA DEFENSE CEDEX</div>`)[0];
            popup_232d8cdbf8bb4a71bdb38de2c1ddf1b8.setContent(html_16a2b6148ff242eab86a84cca7a6d05e);
        

        marker_e80dae2356e242feab41403eb4fcf727.bindPopup(popup_232d8cdbf8bb4a71bdb38de2c1ddf1b8)
        ;

        
    
    
            var marker_7e950e962cb64e88be4ca69abaf68d47 = L.marker(
                [48.856610100000005, 2.3514992],
                {}
            ).addTo(map_c3a5460b4fb44677bd2316b78f96215d);
        
    
            var icon_34f6fa1800cd4778bc316617e027a441 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_7e950e962cb64e88be4ca69abaf68d47.setIcon(icon_34f6fa1800cd4778bc316617e027a441);
        
    
        var popup_6e42f5fc4d044eaf91985ecc26b7c3b4 = L.popup({"maxWidth": "100%"});

        
            var html_5a0f706793994af68347d030f49a6a6b = $(`<div id="html_5a0f706793994af68347d030f49a6a6b" style="width: 100.0%; height: 100.0%;">BUSINESS & DECISION ::  PARIS</div>`)[0];
            popup_6e42f5fc4d044eaf91985ecc26b7c3b4.setContent(html_5a0f706793994af68347d030f49a6a6b);
        

        marker_7e950e962cb64e88be4ca69abaf68d47.bindPopup(popup_6e42f5fc4d044eaf91985ecc26b7c3b4)
        ;

        
    
    
            var marker_4e7aba35fddd4b93b9bac0d2aa8b0987 = L.marker(
                [48.892956, 2.2881682999999997],
                {}
            ).addTo(map_c3a5460b4fb44677bd2316b78f96215d);
        
    
            var icon_2f4eb75eb50c4fd9b2a13795f39657e7 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_4e7aba35fddd4b93b9bac0d2aa8b0987.setIcon(icon_2f4eb75eb50c4fd9b2a13795f39657e7);
        
    
        var popup_b8199eaa5c44466daf989bd0ef1240d9 = L.popup({"maxWidth": "100%"});

        
            var html_1e605b8feabc4d1d9c49d99307534069 = $(`<div id="html_1e605b8feabc4d1d9c49d99307534069" style="width: 100.0%; height: 100.0%;">SAP FRANCE - LEVALLOIS ::  LEVALLOIS PERRET</div>`)[0];
            popup_b8199eaa5c44466daf989bd0ef1240d9.setContent(html_1e605b8feabc4d1d9c49d99307534069);
        

        marker_4e7aba35fddd4b93b9bac0d2aa8b0987.bindPopup(popup_b8199eaa5c44466daf989bd0ef1240d9)
        ;

        
    
    
            var marker_d8a32dcf1db44b8b973fe5d0fa54ae1b = L.marker(
                [43.2957547, -0.36856679999999997],
                {}
            ).addTo(map_c3a5460b4fb44677bd2316b78f96215d);
        
    
            var icon_84f5ba21f202454392f904380ee2870d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_d8a32dcf1db44b8b973fe5d0fa54ae1b.setIcon(icon_84f5ba21f202454392f904380ee2870d);
        
    
        var popup_297d7a6e76424ad5a1b37bc05630bded = L.popup({"maxWidth": "100%"});

        
            var html_43bdc2e859e5438cb7f4b96129a8e5a3 = $(`<div id="html_43bdc2e859e5438cb7f4b96129a8e5a3" style="width: 100.0%; height: 100.0%;">NEUROSOFT - ORTHALIS ::  PAU</div>`)[0];
            popup_297d7a6e76424ad5a1b37bc05630bded.setContent(html_43bdc2e859e5438cb7f4b96129a8e5a3);
        

        marker_d8a32dcf1db44b8b973fe5d0fa54ae1b.bindPopup(popup_297d7a6e76424ad5a1b37bc05630bded)
        ;

        
    
    
            var marker_a3191fa861d348f79fafaf3d7195664f = L.marker(
                [48.856610100000005, 2.3514992],
                {}
            ).addTo(map_c3a5460b4fb44677bd2316b78f96215d);
        
    
            var icon_8877feac27db4c17ac9645424d815c86 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_a3191fa861d348f79fafaf3d7195664f.setIcon(icon_8877feac27db4c17ac9645424d815c86);
        
    
        var popup_f7662d5039734beba329938eca55c678 = L.popup({"maxWidth": "100%"});

        
            var html_d7d973900824445fb3d68d22a9ab64c5 = $(`<div id="html_d7d973900824445fb3d68d22a9ab64c5" style="width: 100.0%; height: 100.0%;">LA MUTUELLE GNRALE ::  PARIS CEDEX 13</div>`)[0];
            popup_f7662d5039734beba329938eca55c678.setContent(html_d7d973900824445fb3d68d22a9ab64c5);
        

        marker_a3191fa861d348f79fafaf3d7195664f.bindPopup(popup_f7662d5039734beba329938eca55c678)
        ;

        
    
    
            var marker_9cc9f446e6d34544b0cd3a9265fb1f33 = L.marker(
                [45.1893794, 4.1163969],
                {}
            ).addTo(map_c3a5460b4fb44677bd2316b78f96215d);
        
    
            var icon_f9ae8273968a4134aecfb8b795f7962d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_9cc9f446e6d34544b0cd3a9265fb1f33.setIcon(icon_f9ae8273968a4134aecfb8b795f7962d);
        
    
        var popup_f33b6cc4800a4e35b6e87fd683d56e6c = L.popup({"maxWidth": "100%"});

        
            var html_ca15873fca8441df97a70f5aa367076b = $(`<div id="html_ca15873fca8441df97a70f5aa367076b" style="width: 100.0%; height: 100.0%;">TURBOMECA - BORDES ::  BORDES CEDEX</div>`)[0];
            popup_f33b6cc4800a4e35b6e87fd683d56e6c.setContent(html_ca15873fca8441df97a70f5aa367076b);
        

        marker_9cc9f446e6d34544b0cd3a9265fb1f33.bindPopup(popup_f33b6cc4800a4e35b6e87fd683d56e6c)
        ;

        
    
    
            var marker_69488b48505449dda93974bea2361e42 = L.marker(
                [43.6044622, 1.4442469],
                {}
            ).addTo(map_c3a5460b4fb44677bd2316b78f96215d);
        
    
            var icon_8ddcc013956046e2b920446597977ca7 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_69488b48505449dda93974bea2361e42.setIcon(icon_8ddcc013956046e2b920446597977ca7);
        
    
        var popup_10de385e0d2641dc95f9fef8bac5f67e = L.popup({"maxWidth": "100%"});

        
            var html_a26a69d29e844fe9aa8dd0b075fbd148 = $(`<div id="html_a26a69d29e844fe9aa8dd0b075fbd148" style="width: 100.0%; height: 100.0%;">CGI - TOULOUSE ::  TOULOUSE</div>`)[0];
            popup_10de385e0d2641dc95f9fef8bac5f67e.setContent(html_a26a69d29e844fe9aa8dd0b075fbd148);
        

        marker_69488b48505449dda93974bea2361e42.bindPopup(popup_10de385e0d2641dc95f9fef8bac5f67e)
        ;

        
    
    
            var marker_0d379ebbc5ee4f6caa6011af9b72c770 = L.marker(
                [48.856610100000005, 2.3514992],
                {}
            ).addTo(map_c3a5460b4fb44677bd2316b78f96215d);
        
    
            var icon_43afd588a43e4553a108cc5195b50032 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_0d379ebbc5ee4f6caa6011af9b72c770.setIcon(icon_43afd588a43e4553a108cc5195b50032);
        
    
        var popup_c13dcf0c199243cc8a2c93f82cea3007 = L.popup({"maxWidth": "100%"});

        
            var html_64b7c8d9afeb4621ac656eb1d6d130f5 = $(`<div id="html_64b7c8d9afeb4621ac656eb1d6d130f5" style="width: 100.0%; height: 100.0%;">MIF: LA MUTUELLE D'IVRY (LA FRATERNELLE) ::  PARIS</div>`)[0];
            popup_c13dcf0c199243cc8a2c93f82cea3007.setContent(html_64b7c8d9afeb4621ac656eb1d6d130f5);
        

        marker_0d379ebbc5ee4f6caa6011af9b72c770.bindPopup(popup_c13dcf0c199243cc8a2c93f82cea3007)
        ;

        
    
    
            var marker_35cb8c86684f4dd184ab20739a0c732c = L.marker(
                [48.85881005, 2.320031012],
                {}
            ).addTo(map_c3a5460b4fb44677bd2316b78f96215d);
        
    
            var icon_0028890e76d24c968d405afc32313d6c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_35cb8c86684f4dd184ab20739a0c732c.setIcon(icon_0028890e76d24c968d405afc32313d6c);
        
    
        var popup_c1d804ddda5a41fcae5dfc5f395463eb = L.popup({"maxWidth": "100%"});

        
            var html_010ebfcd1a6f4dd680f9e881114efc49 = $(`<div id="html_010ebfcd1a6f4dd680f9e881114efc49" style="width: 100.0%; height: 100.0%;">CREDIT AGRICOLE CIB - LA DFENSE ::  PARIS LA DFENSE CEDEX</div>`)[0];
            popup_c1d804ddda5a41fcae5dfc5f395463eb.setContent(html_010ebfcd1a6f4dd680f9e881114efc49);
        

        marker_35cb8c86684f4dd184ab20739a0c732c.bindPopup(popup_c1d804ddda5a41fcae5dfc5f395463eb)
        ;

        
    
    
            var marker_e20ed911ab8c44dc86c1527029c7617a = L.marker(
                [43.6138, 1.345],
                {}
            ).addTo(map_c3a5460b4fb44677bd2316b78f96215d);
        
    
            var icon_291b522b111a4d98a3c34416bd1be64a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_e20ed911ab8c44dc86c1527029c7617a.setIcon(icon_291b522b111a4d98a3c34416bd1be64a);
        
    
        var popup_376e417129e04efab729f15eb1029ecd = L.popup({"maxWidth": "100%"});

        
            var html_6c50e629a1ce42a781e15dcdefb8779a = $(`<div id="html_6c50e629a1ce42a781e15dcdefb8779a" style="width: 100.0%; height: 100.0%;">SOPRA STERIA - COLOMIERS ::  COLOMIERS CEDEX</div>`)[0];
            popup_376e417129e04efab729f15eb1029ecd.setContent(html_6c50e629a1ce42a781e15dcdefb8779a);
        

        marker_e20ed911ab8c44dc86c1527029c7617a.bindPopup(popup_376e417129e04efab729f15eb1029ecd)
        ;

        
    
    
            var marker_119000a998504192a2447d6e9d4fe891 = L.marker(
                [42.9466381, 2.3236952],
                {}
            ).addTo(map_c3a5460b4fb44677bd2316b78f96215d);
        
    
            var icon_0f84749b83bf4677b46ab10ae3563991 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_119000a998504192a2447d6e9d4fe891.setIcon(icon_0f84749b83bf4677b46ab10ae3563991);
        
    
        var popup_db675f61524e4e31b6cbb76874606805 = L.popup({"maxWidth": "100%"});

        
            var html_58f1304fc2ec4f6bbf239d0a3b5ea035 = $(`<div id="html_58f1304fc2ec4f6bbf239d0a3b5ea035" style="width: 100.0%; height: 100.0%;">CREDIT AGRICOLE PYRENEES GASCOGNE ::  SERRES CASTET</div>`)[0];
            popup_db675f61524e4e31b6cbb76874606805.setContent(html_58f1304fc2ec4f6bbf239d0a3b5ea035);
        

        marker_119000a998504192a2447d6e9d4fe891.bindPopup(popup_db675f61524e4e31b6cbb76874606805)
        ;

        
    
    
            var marker_324ee345109e4675b99c96a67aef6136 = L.marker(
                [49.02212455, 2.1030397240000003],
                {}
            ).addTo(map_c3a5460b4fb44677bd2316b78f96215d);
        
    
            var icon_031c44414ea04b4c95d9073d11fd07e2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_324ee345109e4675b99c96a67aef6136.setIcon(icon_031c44414ea04b4c95d9073d11fd07e2);
        
    
        var popup_3f069b89648a478e9320c10a899811e2 = L.popup({"maxWidth": "100%"});

        
            var html_8da69b7598034f4f99355adf926c6f9d = $(`<div id="html_8da69b7598034f4f99355adf926c6f9d" style="width: 100.0%; height: 100.0%;">SAGEM DEFENSE SECURITE - ERAGNY SUR OISE ::  ERAGNY SUR OISE</div>`)[0];
            popup_3f069b89648a478e9320c10a899811e2.setContent(html_8da69b7598034f4f99355adf926c6f9d);
        

        marker_324ee345109e4675b99c96a67aef6136.bindPopup(popup_3f069b89648a478e9320c10a899811e2)
        ;

        
    
    
            var marker_5c893695cfbb44b98ad7e35802d9edfa = L.marker(
                [45.1893794, 4.1163969],
                {}
            ).addTo(map_c3a5460b4fb44677bd2316b78f96215d);
        
    
            var icon_ab7cc4d5bd3f409baa266deea7296938 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_5c893695cfbb44b98ad7e35802d9edfa.setIcon(icon_ab7cc4d5bd3f409baa266deea7296938);
        
    
        var popup_64b89939939947d596bfb0f9ce0f4d5e = L.popup({"maxWidth": "100%"});

        
            var html_915aac7a4361429890b1ca219f007963 = $(`<div id="html_915aac7a4361429890b1ca219f007963" style="width: 100.0%; height: 100.0%;">SAFRAN HELICOPTER ENGINES - BORDES ::  BORDES</div>`)[0];
            popup_64b89939939947d596bfb0f9ce0f4d5e.setContent(html_915aac7a4361429890b1ca219f007963);
        

        marker_5c893695cfbb44b98ad7e35802d9edfa.bindPopup(popup_64b89939939947d596bfb0f9ce0f4d5e)
        ;

        
    
    
            var marker_63139850e7014af3bb7129d267486d97 = L.marker(
                [26.8105777, 73.76845490000001],
                {}
            ).addTo(map_c3a5460b4fb44677bd2316b78f96215d);
        
    
            var icon_5045fde671fe4b2c89ff60664f941eda = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_63139850e7014af3bb7129d267486d97.setIcon(icon_5045fde671fe4b2c89ff60664f941eda);
        
    
        var popup_7642dae3784c4288bf068bf17772b13b = L.popup({"maxWidth": "100%"});

        
            var html_50cdbeb9c07446a4bf2b9eb7e8b6683d = $(`<div id="html_50cdbeb9c07446a4bf2b9eb7e8b6683d" style="width: 100.0%; height: 100.0%;">BKBIET - BIRLA INSTITUTE OF ENGINEERING AND TECHNOLOGY ::  RAJASTHAN</div>`)[0];
            popup_7642dae3784c4288bf068bf17772b13b.setContent(html_50cdbeb9c07446a4bf2b9eb7e8b6683d);
        

        marker_63139850e7014af3bb7129d267486d97.bindPopup(popup_7642dae3784c4288bf068bf17772b13b)
        ;

        
    
    
            var marker_9ab1f759aa5c43218c22130e20511beb = L.marker(
                [48.8126688, 2.2385432],
                {}
            ).addTo(map_c3a5460b4fb44677bd2316b78f96215d);
        
    
            var icon_63fcdb12cc164299a179d470bcd2e954 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_9ab1f759aa5c43218c22130e20511beb.setIcon(icon_63fcdb12cc164299a179d470bcd2e954);
        
    
        var popup_5f9f168b134845b58dbfe4c143ac383a = L.popup({"maxWidth": "100%"});

        
            var html_9303bed70fc1437faa44a0f9abbefd80 = $(`<div id="html_9303bed70fc1437faa44a0f9abbefd80" style="width: 100.0%; height: 100.0%;">BOUYGUES TELECOM ::  MEUDON LA FORET CEDEX</div>`)[0];
            popup_5f9f168b134845b58dbfe4c143ac383a.setContent(html_9303bed70fc1437faa44a0f9abbefd80);
        

        marker_9ab1f759aa5c43218c22130e20511beb.bindPopup(popup_5f9f168b134845b58dbfe4c143ac383a)
        ;

        
    
    
            var marker_ff2144d14dfd466f89a8e88d00e3e9bb = L.marker(
                [49.0527528, 2.0388736],
                {}
            ).addTo(map_c3a5460b4fb44677bd2316b78f96215d);
        
    
            var icon_42b59eb477c94358b518db2ec028f4cb = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_ff2144d14dfd466f89a8e88d00e3e9bb.setIcon(icon_42b59eb477c94358b518db2ec028f4cb);
        
    
        var popup_cdc278cf69ef4f098621bd7f340f4dfb = L.popup({"maxWidth": "100%"});

        
            var html_1ba5d2fe9e3b4d95810d94538da196c1 = $(`<div id="html_1ba5d2fe9e3b4d95810d94538da196c1" style="width: 100.0%; height: 100.0%;">NOOLINE ::  CERGY</div>`)[0];
            popup_cdc278cf69ef4f098621bd7f340f4dfb.setContent(html_1ba5d2fe9e3b4d95810d94538da196c1);
        

        marker_ff2144d14dfd466f89a8e88d00e3e9bb.bindPopup(popup_cdc278cf69ef4f098621bd7f340f4dfb)
        ;

        
    
    
            var marker_e977f36b791d41ff93acd89c8e8c0c75 = L.marker(
                [48.7681182, 1.949352],
                {}
            ).addTo(map_c3a5460b4fb44677bd2316b78f96215d);
        
    
            var icon_acf06e561605474e9505b4611ba4153e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_e977f36b791d41ff93acd89c8e8c0c75.setIcon(icon_acf06e561605474e9505b4611ba4153e);
        
    
        var popup_79f74cdf82e04793983071262225272a = L.popup({"maxWidth": "100%"});

        
            var html_e80eea5777f0473eafbc20cba88471b7 = $(`<div id="html_e80eea5777f0473eafbc20cba88471b7" style="width: 100.0%; height: 100.0%;">THALES OPTRONIQUE - ELANCOURT ::  ELANCOURT</div>`)[0];
            popup_79f74cdf82e04793983071262225272a.setContent(html_e80eea5777f0473eafbc20cba88471b7);
        

        marker_e977f36b791d41ff93acd89c8e8c0c75.bindPopup(popup_79f74cdf82e04793983071262225272a)
        ;

        
    
    
            var marker_a2c0a162a5b94258bd96fbfef6b43a28 = L.marker(
                [48.78461, 2.2254946],
                {}
            ).addTo(map_c3a5460b4fb44677bd2316b78f96215d);
        
    
            var icon_2ea3d0c2b0a34feeb66ddc8ca6d99b19 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_a2c0a162a5b94258bd96fbfef6b43a28.setIcon(icon_2ea3d0c2b0a34feeb66ddc8ca6d99b19);
        
    
        var popup_c042629c58e74d5697e25c62809a0257 = L.popup({"maxWidth": "100%"});

        
            var html_1506e49ecee24fe982a7903849b8e9e0 = $(`<div id="html_1506e49ecee24fe982a7903849b8e9e0" style="width: 100.0%; height: 100.0%;">THALES SERVICES - VELIZY VILLACOUBLAY ::  VELIZY VILLACOUBLAY</div>`)[0];
            popup_c042629c58e74d5697e25c62809a0257.setContent(html_1506e49ecee24fe982a7903849b8e9e0);
        

        marker_a2c0a162a5b94258bd96fbfef6b43a28.bindPopup(popup_c042629c58e74d5697e25c62809a0257)
        ;

        
    
    
            var marker_59704eb79be348fc9e0ba50d0262bfe0 = L.marker(
                [48.9250016, 2.2105491],
                {}
            ).addTo(map_c3a5460b4fb44677bd2316b78f96215d);
        
    
            var icon_98dea492e62c4f1796a813df78cc76ca = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_59704eb79be348fc9e0ba50d0262bfe0.setIcon(icon_98dea492e62c4f1796a813df78cc76ca);
        
    
        var popup_30808534f03341dd936837d148444af0 = L.popup({"maxWidth": "100%"});

        
            var html_607ccc0a99bc43118e41d93457e085c2 = $(`<div id="html_607ccc0a99bc43118e41d93457e085c2" style="width: 100.0%; height: 100.0%;">WORLDLINE ::  BEZONS</div>`)[0];
            popup_30808534f03341dd936837d148444af0.setContent(html_607ccc0a99bc43118e41d93457e085c2);
        

        marker_59704eb79be348fc9e0ba50d0262bfe0.bindPopup(popup_30808534f03341dd936837d148444af0)
        ;

        
    
    
            var marker_08bdb0d050864a619230faeed35bcb4c = L.marker(
                [43.2011, 0.024291999999999998],
                {}
            ).addTo(map_c3a5460b4fb44677bd2316b78f96215d);
        
    
            var icon_da76c683c38f4ca1a8370937caed4598 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_08bdb0d050864a619230faeed35bcb4c.setIcon(icon_da76c683c38f4ca1a8370937caed4598);
        
    
        var popup_80ed0acedbf74bd381def64711f40020 = L.popup({"maxWidth": "100%"});

        
            var html_316b17d7f5a946daa3a96d94bfa499c2 = $(`<div id="html_316b17d7f5a946daa3a96d94bfa499c2" style="width: 100.0%; height: 100.0%;">ISIA ::  JUILLAN</div>`)[0];
            popup_80ed0acedbf74bd381def64711f40020.setContent(html_316b17d7f5a946daa3a96d94bfa499c2);
        

        marker_08bdb0d050864a619230faeed35bcb4c.bindPopup(popup_80ed0acedbf74bd381def64711f40020)
        ;

        
    
    
            var marker_ac2a2ec3aca84c59a0e6ccfac00983da = L.marker(
                [48.856610100000005, 2.3514992],
                {}
            ).addTo(map_c3a5460b4fb44677bd2316b78f96215d);
        
    
            var icon_a3455e3bb0f74047bcfedfbd3852a2ce = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_ac2a2ec3aca84c59a0e6ccfac00983da.setIcon(icon_a3455e3bb0f74047bcfedfbd3852a2ce);
        
    
        var popup_3ee252d1c86d4533898acc4b23d8d0c5 = L.popup({"maxWidth": "100%"});

        
            var html_8deafefb865c4dbbb185c20fc4dfde62 = $(`<div id="html_8deafefb865c4dbbb185c20fc4dfde62" style="width: 100.0%; height: 100.0%;">ORANGE ::  PARIS CEDEX 15</div>`)[0];
            popup_3ee252d1c86d4533898acc4b23d8d0c5.setContent(html_8deafefb865c4dbbb185c20fc4dfde62);
        

        marker_ac2a2ec3aca84c59a0e6ccfac00983da.bindPopup(popup_3ee252d1c86d4533898acc4b23d8d0c5)
        ;

        
    
    
            var marker_0ef5c6d728b149c1ac474b116dc361e5 = L.marker(
                [48.856610100000005, 2.3514992],
                {}
            ).addTo(map_c3a5460b4fb44677bd2316b78f96215d);
        
    
            var icon_b739caf0fd784bf6805b5a8f284580bc = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_0ef5c6d728b149c1ac474b116dc361e5.setIcon(icon_b739caf0fd784bf6805b5a8f284580bc);
        
    
        var popup_f70e96b0676f4f12a18f08dc5ec00600 = L.popup({"maxWidth": "100%"});

        
            var html_981b65bc3c5d4201a0c4ed513aaf9da3 = $(`<div id="html_981b65bc3c5d4201a0c4ed513aaf9da3" style="width: 100.0%; height: 100.0%;">NATIXIS ASSET MANAGEMENT ::  PARIS CEDEX 13</div>`)[0];
            popup_f70e96b0676f4f12a18f08dc5ec00600.setContent(html_981b65bc3c5d4201a0c4ed513aaf9da3);
        

        marker_0ef5c6d728b149c1ac474b116dc361e5.bindPopup(popup_f70e96b0676f4f12a18f08dc5ec00600)
        ;

        
    
    
            var marker_ca370aed26034614bce8ac23bb58a194 = L.marker(
                [-23.533773, -46.62529],
                {}
            ).addTo(map_c3a5460b4fb44677bd2316b78f96215d);
        
    
            var icon_9e172dce404c41bf8abb0e436390a5a7 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_ca370aed26034614bce8ac23bb58a194.setIcon(icon_9e172dce404c41bf8abb0e436390a5a7);
        
    
        var popup_609fb1dfe5ba46d08f20b4f89aae34b2 = L.popup({"maxWidth": "100%"});

        
            var html_eb716a9e223343a786a53a2a828078a7 = $(`<div id="html_eb716a9e223343a786a53a2a828078a7" style="width: 100.0%; height: 100.0%;">UNIVERSIDADE ESTADUAL PAULISTA - UNESP ::  SO PAULO</div>`)[0];
            popup_609fb1dfe5ba46d08f20b4f89aae34b2.setContent(html_eb716a9e223343a786a53a2a828078a7);
        

        marker_ca370aed26034614bce8ac23bb58a194.bindPopup(popup_609fb1dfe5ba46d08f20b4f89aae34b2)
        ;

        
    
</script>