<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_f5cd5b2159f94123bb54a275d9cb3974 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-dvf/0.3.0/leaflet-dvf.markers.min.js"></script>
</head>
<body>    
    
            <div class="folium-map" id="map_f5cd5b2159f94123bb54a275d9cb3974" ></div>
        
</body>
<script>    
    
            var map_f5cd5b2159f94123bb54a275d9cb3974 = L.map(
                "map_f5cd5b2159f94123bb54a275d9cb3974",
                {
                    center: [43.6051074, 1.3903425],
                    crs: L.CRS.EPSG3857,
                    zoom: 10,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_7c0124c36ba4450eafbd1b8e897073e1 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_f5cd5b2159f94123bb54a275d9cb3974);
        
    
            var marker_d5126c0d543b428aad6eafda485ea62a = L.marker(
                [43.6051074, 1.3903425],
                {}
            ).addTo(map_f5cd5b2159f94123bb54a275d9cb3974);
        
    
            var icon_478ed953e6b74e2abdf7ded8ddf951f2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_d5126c0d543b428aad6eafda485ea62a.setIcon(icon_478ed953e6b74e2abdf7ded8ddf951f2);
        
    
            var marker_e9d60215063b4f4cb52c57615b661468 = L.marker(
                [43.31726632, -0.345934294],
                {}
            ).addTo(map_f5cd5b2159f94123bb54a275d9cb3974);
        
    
            var icon_681e00a295fe4776abeea50cff7316dd = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_e9d60215063b4f4cb52c57615b661468.setIcon(icon_681e00a295fe4776abeea50cff7316dd);
        
    
            var poly_line_b51725ea029844eea270b73d3ab07ea5 = L.polyline(
                [[43.6051074, 1.3903425], [43.31726632, -0.345934294]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_f5cd5b2159f94123bb54a275d9cb3974);
        
    
            var regular_polygon_marker_32c93bf3cf79413184835cb7f4df84fa = new L.RegularPolygonMarker(
                [43.53314713, 0.9562733015],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 3, "opacity": 1.0, "radius": 6, "rotation": 167.73258425500865, "stroke": true, "weight": 3}
            ).addTo(map_f5cd5b2159f94123bb54a275d9cb3974);
        
    
            var regular_polygon_marker_88642ec1999c40e0b4ee5bbbfbccc2e3 = new L.RegularPolygonMarker(
                [43.46118686, 0.522204103],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 3, "opacity": 1.0, "radius": 6, "rotation": 167.73258425500865, "stroke": true, "weight": 3}
            ).addTo(map_f5cd5b2159f94123bb54a275d9cb3974);
        
    
            var regular_polygon_marker_660e98ad71a24653a21a58fae1fce5b7 = new L.RegularPolygonMarker(
                [43.38922659, 0.08813490449999994],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 3, "opacity": 1.0, "radius": 6, "rotation": 167.73258425500865, "stroke": true, "weight": 3}
            ).addTo(map_f5cd5b2159f94123bb54a275d9cb3974);
        
</script>