<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_6d760bf2daf344e7a402cdcd7271565d {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_6d760bf2daf344e7a402cdcd7271565d" ></div>
        
</body>
<script>    
    
            var map_6d760bf2daf344e7a402cdcd7271565d = L.map(
                "map_6d760bf2daf344e7a402cdcd7271565d",
                {
                    center: [47.083333, 2.4],
                    crs: L.CRS.EPSG3857,
                    maxBounds: [[-90, -180], [90, 180]],
                    zoom: 2,
                    zoomControl: false,
                    preferCanvas: false,
                    noWrap: true,
                }
            );

            

        
    
            var tile_layer_67ce2f8c1f3f44e2b5ea756000f10afa = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 2, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_6d760bf2daf344e7a402cdcd7271565d);
        
    
            var marker_be189479f0ae43b89149a81acf4b9ee5 = L.marker(
                [46.227638, 2.213749],
                {}
            ).addTo(map_6d760bf2daf344e7a402cdcd7271565d);
        
    
        var popup_b160d3474bdd47c88026bd71b63352c2 = L.popup({"maxWidth": "100%"});

        
            var html_77c979ca35504e94b1517f2243fe9531 = $(`<div id="html_77c979ca35504e94b1517f2243fe9531" style="width: 100.0%; height: 100.0%;">France</div>`)[0];
            popup_b160d3474bdd47c88026bd71b63352c2.setContent(html_77c979ca35504e94b1517f2243fe9531);
        

        marker_be189479f0ae43b89149a81acf4b9ee5.bindPopup(popup_b160d3474bdd47c88026bd71b63352c2)
        ;

        
    
    
            var marker_633bd844f76c412a917e039df0db068d = L.marker(
                [31.791702, -7.09262],
                {}
            ).addTo(map_6d760bf2daf344e7a402cdcd7271565d);
        
    
        var popup_2d561168f6f540aa96c3bf65cb69d83c = L.popup({"maxWidth": "100%"});

        
            var html_9885a8f02cf14b00ad53c3ea6e94bd86 = $(`<div id="html_9885a8f02cf14b00ad53c3ea6e94bd86" style="width: 100.0%; height: 100.0%;">Morocco</div>`)[0];
            popup_2d561168f6f540aa96c3bf65cb69d83c.setContent(html_9885a8f02cf14b00ad53c3ea6e94bd86);
        

        marker_633bd844f76c412a917e039df0db068d.bindPopup(popup_2d561168f6f540aa96c3bf65cb69d83c)
        ;

        
    
    
            var marker_0ecd5938b5694b98bfcb66cb5cf4748e = L.marker(
                [28.033886, 1.659626],
                {}
            ).addTo(map_6d760bf2daf344e7a402cdcd7271565d);
        
    
        var popup_80fb9d75d83045c8a62c49f15465b899 = L.popup({"maxWidth": "100%"});

        
            var html_9c4cbab7d1c54eb49dbd9a445bcb55ea = $(`<div id="html_9c4cbab7d1c54eb49dbd9a445bcb55ea" style="width: 100.0%; height: 100.0%;">Algeria</div>`)[0];
            popup_80fb9d75d83045c8a62c49f15465b899.setContent(html_9c4cbab7d1c54eb49dbd9a445bcb55ea);
        

        marker_0ecd5938b5694b98bfcb66cb5cf4748e.bindPopup(popup_80fb9d75d83045c8a62c49f15465b899)
        ;

        
    
    
            var marker_c02a882bb95a45b4801efbde28e6b341 = L.marker(
                [40.463667, -3.74922],
                {}
            ).addTo(map_6d760bf2daf344e7a402cdcd7271565d);
        
    
        var popup_f138f45ab50b43c9a04c147e3b625f98 = L.popup({"maxWidth": "100%"});

        
            var html_b534cf3ecce646949daa42c2b4596458 = $(`<div id="html_b534cf3ecce646949daa42c2b4596458" style="width: 100.0%; height: 100.0%;">Spain</div>`)[0];
            popup_f138f45ab50b43c9a04c147e3b625f98.setContent(html_b534cf3ecce646949daa42c2b4596458);
        

        marker_c02a882bb95a45b4801efbde28e6b341.bindPopup(popup_f138f45ab50b43c9a04c147e3b625f98)
        ;

        
    
    
            var marker_94fc354ea7894d97992f9292fb3cfe37 = L.marker(
                [49.817492, 15.472962],
                {}
            ).addTo(map_6d760bf2daf344e7a402cdcd7271565d);
        
    
        var popup_8d412b086da54dceb37124ab103adcfe = L.popup({"maxWidth": "100%"});

        
            var html_7059d5ac0ecf490ba33f0403d0e01f45 = $(`<div id="html_7059d5ac0ecf490ba33f0403d0e01f45" style="width: 100.0%; height: 100.0%;">Czech Republic</div>`)[0];
            popup_8d412b086da54dceb37124ab103adcfe.setContent(html_7059d5ac0ecf490ba33f0403d0e01f45);
        

        marker_94fc354ea7894d97992f9292fb3cfe37.bindPopup(popup_8d412b086da54dceb37124ab103adcfe)
        ;

        
    
    
            var marker_90e34bb9fcb34bd398f1f4b8ec8a7f5c = L.marker(
                [50.503887, 4.469936],
                {}
            ).addTo(map_6d760bf2daf344e7a402cdcd7271565d);
        
    
        var popup_13241f9760d3496aaba5fddd9d532b01 = L.popup({"maxWidth": "100%"});

        
            var html_0c36e46bef22445c8fefff30777f60a9 = $(`<div id="html_0c36e46bef22445c8fefff30777f60a9" style="width: 100.0%; height: 100.0%;">Belgium</div>`)[0];
            popup_13241f9760d3496aaba5fddd9d532b01.setContent(html_0c36e46bef22445c8fefff30777f60a9);
        

        marker_90e34bb9fcb34bd398f1f4b8ec8a7f5c.bindPopup(popup_13241f9760d3496aaba5fddd9d532b01)
        ;

        
    
    
            var marker_6555119340d84c9b92fb6be73d24f07f = L.marker(
                [52.132633, 5.291266],
                {}
            ).addTo(map_6d760bf2daf344e7a402cdcd7271565d);
        
    
        var popup_05c3f0356f024873b7d103779e8d822c = L.popup({"maxWidth": "100%"});

        
            var html_8340d2d0e7b240a39589e5b2c9fabc2b = $(`<div id="html_8340d2d0e7b240a39589e5b2c9fabc2b" style="width: 100.0%; height: 100.0%;">Netherlands</div>`)[0];
            popup_05c3f0356f024873b7d103779e8d822c.setContent(html_8340d2d0e7b240a39589e5b2c9fabc2b);
        

        marker_6555119340d84c9b92fb6be73d24f07f.bindPopup(popup_05c3f0356f024873b7d103779e8d822c)
        ;

        
    
    
            var marker_87cea6ae361e4325a417ebda4a922914 = L.marker(
                [-17.679742, -149.406843],
                {}
            ).addTo(map_6d760bf2daf344e7a402cdcd7271565d);
        
    
        var popup_b97d2bff9a604a30a323f8eca7e54aa4 = L.popup({"maxWidth": "100%"});

        
            var html_e0b74e6fbef64aa8aa088544bae65938 = $(`<div id="html_e0b74e6fbef64aa8aa088544bae65938" style="width: 100.0%; height: 100.0%;">French Polynesia</div>`)[0];
            popup_b97d2bff9a604a30a323f8eca7e54aa4.setContent(html_e0b74e6fbef64aa8aa088544bae65938);
        

        marker_87cea6ae361e4325a417ebda4a922914.bindPopup(popup_b97d2bff9a604a30a323f8eca7e54aa4)
        ;

        
    
    
            var marker_b53151ab39f645079fe429b9623c37c8 = L.marker(
                [-38.416097, -63.616672],
                {}
            ).addTo(map_6d760bf2daf344e7a402cdcd7271565d);
        
    
        var popup_5a1f52402bd241788b582893c49cb879 = L.popup({"maxWidth": "100%"});

        
            var html_275f1ef0bb3e4bbeb5a48d6f9f6f919b = $(`<div id="html_275f1ef0bb3e4bbeb5a48d6f9f6f919b" style="width: 100.0%; height: 100.0%;">Argentina</div>`)[0];
            popup_5a1f52402bd241788b582893c49cb879.setContent(html_275f1ef0bb3e4bbeb5a48d6f9f6f919b);
        

        marker_b53151ab39f645079fe429b9623c37c8.bindPopup(popup_5a1f52402bd241788b582893c49cb879)
        ;

        
    
    
            var marker_2f443de111714dea9682b2853ec99a54 = L.marker(
                [39.399872, -8.224454],
                {}
            ).addTo(map_6d760bf2daf344e7a402cdcd7271565d);
        
    
        var popup_07b666b727a345178d5abf8bac0521ac = L.popup({"maxWidth": "100%"});

        
            var html_0e99d9ae1be34e80a9facd4127bd2c41 = $(`<div id="html_0e99d9ae1be34e80a9facd4127bd2c41" style="width: 100.0%; height: 100.0%;">Portugal</div>`)[0];
            popup_07b666b727a345178d5abf8bac0521ac.setContent(html_0e99d9ae1be34e80a9facd4127bd2c41);
        

        marker_2f443de111714dea9682b2853ec99a54.bindPopup(popup_07b666b727a345178d5abf8bac0521ac)
        ;

        
    
    
            var marker_2a3a9309100f467da33fc392813d40bc = L.marker(
                [20.593684, 78.96288],
                {}
            ).addTo(map_6d760bf2daf344e7a402cdcd7271565d);
        
    
        var popup_a6b0b95deed44f1d9478509353e54d36 = L.popup({"maxWidth": "100%"});

        
            var html_fe9f835df17e412ba6c66c83879d9ccc = $(`<div id="html_fe9f835df17e412ba6c66c83879d9ccc" style="width: 100.0%; height: 100.0%;">India</div>`)[0];
            popup_a6b0b95deed44f1d9478509353e54d36.setContent(html_fe9f835df17e412ba6c66c83879d9ccc);
        

        marker_2a3a9309100f467da33fc392813d40bc.bindPopup(popup_a6b0b95deed44f1d9478509353e54d36)
        ;

        
    
    
            var marker_7e58c0a8113c4b18ba2020446f7d1f3c = L.marker(
                [51.165691, 10.451526],
                {}
            ).addTo(map_6d760bf2daf344e7a402cdcd7271565d);
        
    
        var popup_65b754750b8640cd9ad5d1a462a3a9ae = L.popup({"maxWidth": "100%"});

        
            var html_24d0b3dbb6fc46739b563a9452ceefe4 = $(`<div id="html_24d0b3dbb6fc46739b563a9452ceefe4" style="width: 100.0%; height: 100.0%;">Germany</div>`)[0];
            popup_65b754750b8640cd9ad5d1a462a3a9ae.setContent(html_24d0b3dbb6fc46739b563a9452ceefe4);
        

        marker_7e58c0a8113c4b18ba2020446f7d1f3c.bindPopup(popup_65b754750b8640cd9ad5d1a462a3a9ae)
        ;

        
    
    
            var marker_75bc10e3b60f4a75baac14e63177ca09 = L.marker(
                [35.86166, 104.195397],
                {}
            ).addTo(map_6d760bf2daf344e7a402cdcd7271565d);
        
    
        var popup_6d194411009a4726bbbbabd3af87ae75 = L.popup({"maxWidth": "100%"});

        
            var html_70a3291447124009b0f76fac257e60c2 = $(`<div id="html_70a3291447124009b0f76fac257e60c2" style="width: 100.0%; height: 100.0%;">China</div>`)[0];
            popup_6d194411009a4726bbbbabd3af87ae75.setContent(html_70a3291447124009b0f76fac257e60c2);
        

        marker_75bc10e3b60f4a75baac14e63177ca09.bindPopup(popup_6d194411009a4726bbbbabd3af87ae75)
        ;

        
    
    
            var marker_6c5a66267c4d49e09e65a66aa9e6bb09 = L.marker(
                [56.130366, -106.346771],
                {}
            ).addTo(map_6d760bf2daf344e7a402cdcd7271565d);
        
    
        var popup_952ca61e345e42f482692f4eace51a9f = L.popup({"maxWidth": "100%"});

        
            var html_f359535ae9504a5b97fc2ad82482eaf6 = $(`<div id="html_f359535ae9504a5b97fc2ad82482eaf6" style="width: 100.0%; height: 100.0%;">Canada</div>`)[0];
            popup_952ca61e345e42f482692f4eace51a9f.setContent(html_f359535ae9504a5b97fc2ad82482eaf6);
        

        marker_6c5a66267c4d49e09e65a66aa9e6bb09.bindPopup(popup_952ca61e345e42f482692f4eace51a9f)
        ;

        
    
    
            var marker_c4f0c421126243ae869e278ad3f8e74c = L.marker(
                [7.539989, -5.54708],
                {}
            ).addTo(map_6d760bf2daf344e7a402cdcd7271565d);
        
    
        var popup_8d930d94f145485fa6aa77db2696b4e7 = L.popup({"maxWidth": "100%"});

        
            var html_38388da3b35d48ee9fd64a627b9e7600 = $(`<div id="html_38388da3b35d48ee9fd64a627b9e7600" style="width: 100.0%; height: 100.0%;">C™te d'Ivoire</div>`)[0];
            popup_8d930d94f145485fa6aa77db2696b4e7.setContent(html_38388da3b35d48ee9fd64a627b9e7600);
        

        marker_c4f0c421126243ae869e278ad3f8e74c.bindPopup(popup_8d930d94f145485fa6aa77db2696b4e7)
        ;

        
    
</script>