<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_ab80a98f09784437b54b209292199ac6 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-dvf/0.3.0/leaflet-dvf.markers.min.js"></script>
</head>
<body>    
    
            <div class="folium-map" id="map_ab80a98f09784437b54b209292199ac6" ></div>
        
</body>
<script>    
    
            var map_ab80a98f09784437b54b209292199ac6 = L.map(
                "map_ab80a98f09784437b54b209292199ac6",
                {
                    center: [49.0331671, 2.0547222],
                    crs: L.CRS.EPSG3857,
                    zoom: 10,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_80e97cd2ac844075b558f5d1b1bc7107 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_ab80a98f09784437b54b209292199ac6);
        
    
            var marker_96117bb62aae4921aa837b8d8e669495 = L.marker(
                [48.8640493, 2.3310526],
                {}
            ).addTo(map_ab80a98f09784437b54b209292199ac6);
        
    
            var icon_7561aad0967c422ebe9f716b65b19452 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_96117bb62aae4921aa837b8d8e669495.setIcon(icon_7561aad0967c422ebe9f716b65b19452);
        
    
            var marker_cd45c7b877314845ae451eca04e7a73f = L.marker(
                [49.0331671, 2.0547222],
                {}
            ).addTo(map_ab80a98f09784437b54b209292199ac6);
        
    
            var icon_18da6d890a94457a8e060bbf442e4ff1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_cd45c7b877314845ae451eca04e7a73f.setIcon(icon_18da6d890a94457a8e060bbf442e4ff1);
        
    
            var poly_line_789e02c5726341ad8e63c4275c283ab6 = L.polyline(
                [[48.8640493, 2.3310526], [49.0331671, 2.0547222]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_ab80a98f09784437b54b209292199ac6);
        
    
            var regular_polygon_marker_11d1f458f6024f38a1f5a098591453b8 = new L.RegularPolygonMarker(
                [48.90632875, 2.26197],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 3, "opacity": 1.0, "radius": 6, "rotation": 223.08531877344996, "stroke": true, "weight": 3}
            ).addTo(map_ab80a98f09784437b54b209292199ac6);
        
    
            var regular_polygon_marker_d5e138b0716344699746b93aec57510d = new L.RegularPolygonMarker(
                [48.948608199999995, 2.1928874],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 3, "opacity": 1.0, "radius": 6, "rotation": 223.08531877344996, "stroke": true, "weight": 3}
            ).addTo(map_ab80a98f09784437b54b209292199ac6);
        
    
            var regular_polygon_marker_19925f194c54407daf2b0c7d27ad6f33 = new L.RegularPolygonMarker(
                [48.99088765, 2.1238048000000003],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 3, "opacity": 1.0, "radius": 6, "rotation": 223.08531877344996, "stroke": true, "weight": 3}
            ).addTo(map_ab80a98f09784437b54b209292199ac6);
        
</script>