<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_ae3cca0a0721468fbb84621854abf606 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-dvf/0.3.0/leaflet-dvf.markers.min.js"></script>
</head>
<body>    
    
            <div class="folium-map" id="map_ae3cca0a0721468fbb84621854abf606" ></div>
        
</body>
<script>    
    
            var map_ae3cca0a0721468fbb84621854abf606 = L.map(
                "map_ae3cca0a0721468fbb84621854abf606",
                {
                    center: [49.0331671, 2.0547222],
                    crs: L.CRS.EPSG3857,
                    zoom: 10,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_dc4036cef3e44d2d947720ec45802fa1 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_ae3cca0a0721468fbb84621854abf606);
        
    
            var marker_a76bc288d3ac40ce8567344cac059adf = L.marker(
                [49.0331671, 2.0547222],
                {}
            ).addTo(map_ae3cca0a0721468fbb84621854abf606);
        
    
            var icon_45ff7e9372574ca689ba98fc3a215553 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_a76bc288d3ac40ce8567344cac059adf.setIcon(icon_45ff7e9372574ca689ba98fc3a215553);
        
    
            var marker_0737024137ae4a76a6dbfa12a0a04742 = L.marker(
                [48.93831742, 2.180910161],
                {}
            ).addTo(map_ae3cca0a0721468fbb84621854abf606);
        
    
            var icon_cc429d46c36d44fa98054c8cf09825db = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_0737024137ae4a76a6dbfa12a0a04742.setIcon(icon_cc429d46c36d44fa98054c8cf09825db);
        
    
            var poly_line_b205aaac84374d7199f3ef3a6b93bad7 = L.polyline(
                [[49.0331671, 2.0547222], [48.93831742, 2.180910161]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_ae3cca0a0721468fbb84621854abf606);
        
    
            var regular_polygon_marker_8a8b0cf0133141c2950b5ef99ba79264 = new L.RegularPolygonMarker(
                [49.00945468, 2.08626919025],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 3, "opacity": 1.0, "radius": 6, "rotation": 48.82912979430864, "stroke": true, "weight": 3}
            ).addTo(map_ae3cca0a0721468fbb84621854abf606);
        
    
            var regular_polygon_marker_5712b4c1e8a2486eac403d44881d09f4 = new L.RegularPolygonMarker(
                [48.985742259999995, 2.1178161805],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 3, "opacity": 1.0, "radius": 6, "rotation": 48.82912979430864, "stroke": true, "weight": 3}
            ).addTo(map_ae3cca0a0721468fbb84621854abf606);
        
    
            var regular_polygon_marker_6d45fe33fc5f46599954683c90bb96ad = new L.RegularPolygonMarker(
                [48.96202984, 2.14936317075],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 3, "opacity": 1.0, "radius": 6, "rotation": 48.82912979430864, "stroke": true, "weight": 3}
            ).addTo(map_ae3cca0a0721468fbb84621854abf606);
        
</script>