<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_18567d8ae9f14c5e840195697eafd1c8 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-dvf/0.3.0/leaflet-dvf.markers.min.js"></script>
</head>
<body>    
    
            <div class="folium-map" id="map_18567d8ae9f14c5e840195697eafd1c8" ></div>
        
</body>
<script>    
    
            var map_18567d8ae9f14c5e840195697eafd1c8 = L.map(
                "map_18567d8ae9f14c5e840195697eafd1c8",
                {
                    center: [49.0331671, 2.0547222],
                    crs: L.CRS.EPSG3857,
                    zoom: 10,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_3812e270828d45118ac20547698b1654 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_18567d8ae9f14c5e840195697eafd1c8);
        
    
            var marker_822790973a374538a4cbfcc6b5e50fce = L.marker(
                [48.8640493, 2.3310526],
                {}
            ).addTo(map_18567d8ae9f14c5e840195697eafd1c8);
        
    
            var icon_0d987be352434c81acfb14eaf6ece303 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_822790973a374538a4cbfcc6b5e50fce.setIcon(icon_0d987be352434c81acfb14eaf6ece303);
        
    
            var marker_772a74a20705432280047d395fe8a7cc = L.marker(
                [49.0331671, 2.0547222],
                {}
            ).addTo(map_18567d8ae9f14c5e840195697eafd1c8);
        
    
            var icon_3c71227d2b244f7183820e33fc3b5ffa = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_772a74a20705432280047d395fe8a7cc.setIcon(icon_3c71227d2b244f7183820e33fc3b5ffa);
        
    
            var poly_line_b85d05246e404f3b8c055315620f9974 = L.polyline(
                [[48.8640493, 2.3310526], [49.0331671, 2.0547222]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_18567d8ae9f14c5e840195697eafd1c8);
        
    
            var regular_polygon_marker_5839996d1b5241818f15801f6229a486 = new L.RegularPolygonMarker(
                [48.90632875, 2.26197],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 3, "opacity": 1.0, "radius": 6, "rotation": 223.08531877344996, "stroke": true, "weight": 3}
            ).addTo(map_18567d8ae9f14c5e840195697eafd1c8);
        
    
            var regular_polygon_marker_ace5ff6ee0a6440591152290c9aab493 = new L.RegularPolygonMarker(
                [48.948608199999995, 2.1928874],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 3, "opacity": 1.0, "radius": 6, "rotation": 223.08531877344996, "stroke": true, "weight": 3}
            ).addTo(map_18567d8ae9f14c5e840195697eafd1c8);
        
    
            var regular_polygon_marker_51104bc7c51f4448889f81d766c78ce9 = new L.RegularPolygonMarker(
                [48.99088765, 2.1238048000000003],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 3, "opacity": 1.0, "radius": 6, "rotation": 223.08531877344996, "stroke": true, "weight": 3}
            ).addTo(map_18567d8ae9f14c5e840195697eafd1c8);
        
</script>